// ================================================================
// IMPORTS
// ================================================================
@import "../common/variables";
@import "../common/mixins/utilities";
@import "../libs/jscrollpane";
@import "../common/mixins/sp-png";

// ================================================================
// VARIABLES
// ================================================================
@sp-main: url("@{img-path}/sp-png.png");

// ================================================================
// PAGE ORDER
// ================================================================
.order {
    border-top: 5px solid @c-grey-text-main;
    border-bottom: 5px solid @c-grey-text-main;
    margin-top: -25px;
    padding: 39px 0 36px;

    &-part-left {
        display: inline-block;
        margin-right: 2%;
        padding: 0 0 0 4px;
        position: relative;
        vertical-align: top;
        width: 61%;
    }

    &-part-right {
        display: inline-block;
        margin: 18px 0 0 1px;
        min-height: 480px;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 35%;
    }

    &-step-line {
        background: @c-order-step-point;
        height: 9px;
        left: 50px;
        position: absolute;
        top: 33px;
        width: 86%;
    }

    &-list-steps {
        color: @c-black;
        text-align: justify;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    &-list-steps-item {
        .font-anti;
        display: inline-block;
        font-size: 14px;
        font-family: @proxima-bold;
        position: relative;
        text-align: center;

        &-02 {
            left: -30px;
        }
    }

    &-step-text {
        margin-bottom: 5px;
    }

    &-step-point {
        border-radius: 50%;
        background: @c-order-step-point;
        color: @c-search-area;
        display: inline-block;
        font-family: @proxima;
        font-size: 24px;
        height: 35px;
        line-height: 140%;
        position: relative;
        width: 35px;

        .active & {
            background: @c-blue-dark-focused;
            color: @c-order-step-point-active;
        }

        .ready & {
            background: url("@{img-path}/order-checkmark.png") no-repeat;
            color: transparent;
        }

        .order-list-steps-item-01 & {
            left: -15px;
        }
    }

    &-h1 {
        .font-anti;
        font-family: @proxima-bold;
        font-size: 24px;
        padding: 1px 11px 16px;
    }

    &-tabs {
        border-bottom: 5px solid @c-blue-dark-focused;
        margin-bottom: 38px;
        padding: 0 0 0 28px;
    }

    &-tab {
        padding: 0 0 0 11px;
    }

    .ui-state-default {
        .transition;
        border-radius: 3px 3px 0 0;
        display: inline-block;
        vertical-align: top;
    }

    .ui-tabs-anchor {
        .font-anti;
        color: @c-black;
        display: block;
        font-size: 18px;
        padding: 7px 10px 5px;
        text-decoration: none;
    }

    .ui-state-hover {
        background: @c-order-step-point;
    }

    .ui-tabs-active {
        background: @c-blue-dark-focused;

        .ui-tabs-anchor {
            color: @c-white;
        }
    }

    &-label {
        font-size: 16px;
        color: @c-black;
        cursor: pointer;
        padding: 0 0 8px;

        &-phone,
        &-email {
            &.error {
                color: @c-order-error;
            }
        }

        &-company {
            display: inline-block;
            font-size: 14px;
            line-height: 125%;
            margin-right: 6px;
            width: 175px;
        }

        &-example {
            color: @c-text-muted;
            font-size: 11px;
            margin: -2px 0 0 183px;
        }

        &-inn {
            margin: 11px 7px 0 0;
        }

        &-kpp {
            margin: 11px 9px 0 -19px;
        }

        &-law {
            margin: 10px 13px 0 0;
        }

        &-fact {
            margin: 10px 19px 0 0;
        }

        &-similar {
            letter-spacing: -0.035em;
            line-height: 170%;

            input {
                margin-left: -28px !important;
            }
        }

        &-delivery {
            margin: 10px 17px 0 0;
        }

        &-bik {
            margin: 10px 10px 0 0;
        }

        &-bill {
            margin: 10px 8px 0 6px;
        }

        &-street {
            font-weight: normal;
            margin: 11px 12px 0 -1px;
        }

        &-house {
            font-weight: normal;
            margin: 9px 5px 0 -1px;
        }

        &-block {
            font-weight: normal;
            margin: 9px 5px 0 18px;
        }

        &-apart {
            font-weight: normal;
            margin: 9px 7px 0 21px;
        }

        &-city {
            font-weight: normal;
            margin: 10px 12px 0 -2px;
        }

        &-business-lines {
            margin: 0 0 5px 0;
            top: -7px;
        }

        &-pek {
            margin: 0 0 5px 95px;
            position: relative;
            top: -7px;
        }

        &-textarea {
            padding-bottom: 12px;
        }
    }

    &-label-small {
        font-size: 14px;
        color: @c-black;
        cursor: pointer;
        padding: 0 0 15px;

        &-error {
            color: @c-text-red-lighter;
        }
    }

    &-col-email {
        margin-left: -4px;
        padding: 0;
    }

    .form {
        &-control {
            margin-bottom: 29px;
        }

        &-name {
            width: 495px;
        }

        &-phone {
            height: 36px;
            width: 210px;
        }

        &-email {
            height: 36px;
            width: 262px;
        }

        &-company {
            display: inline-block;
            height: 37px;
            margin: -1px 0 0;
            vertical-align: top;
            width: 310px;
        }

        &-inn {
            display: inline-block;
            height: 36px;
            vertical-align: top;
            width: 184px;
        }

        &-kpp {
            display: inline-block;
            height: 36px;
            vertical-align: top;
            width: 184px;
        }

        &-address-law {
            display: inline-block;
            height: 64px;
            margin: 3px 0 0;
            vertical-align: top;
            width: 347px;
        }

        &-address-fact {
            display: inline-block;
            height: 64px;
            margin: 4px 0 0;
            vertical-align: top;
            width: 347px;
        }

        &-address-delivery {
            display: inline-block;
            height: 74px;
            margin: 4px 0 0;
            vertical-align: top;
            width: 372px;
        }

        &-bik {
            display: inline-block;
            height: 36px;
            vertical-align: top;
            width: 136px;
        }

        &-bill {
            display: inline-block;
            height: 36px;
            vertical-align: top;
            width: 184px;
        }

        &-street {
            display: inline-block;
            height: 38px;
            margin-bottom: 26px;
            vertical-align: top;
            width: 304px;
        }

        &-house {
            display: inline-block;
            height: 31px;
            vertical-align: top;
            width: 53px;
        }

        &-block {
            display: inline-block;
            height: 31px;
            vertical-align: top;
            width: 53px;
        }

        &-apart {
            display: inline-block;
            height: 31px;
            vertical-align: top;
            width: 53px;
        }

        &-city {
            display: inline-block;
            height: 39px;
            margin-bottom: 15px;
            vertical-align: top;
            width: 304px;
        }

        &-textarea {
            margin-bottom: 46px;
            min-height: 103px;
        }
    }

    .btn-submit {
        .btn-dark-blue(4px, 18px, 5px 41px);
    }

    .btn-one-click {
        &:hover {
            background: @c-order-success;
            border-color: @c-order-success;
            color: @c-white;
        }
    }

    &-one-click {
        border-radius: 3px;
        clear: both;
        background: @c-order-step-point;
        overflow: hidden;
        padding: 6px 9px 4px 11px;
        position: relative;
        z-index: 2;

        &-text {
            color: @c-tooltip-hovered-link;
            display: inline-block;
            font-size: 16px;
            padding: 9px 0 0;
        }

        .btn-submit {
            float: right;
            padding: 2px 28px;
        }
    }

    // Dropdown:
    &-dropdown {
        .transition;
        .transform(translateY(-480px));
        background: @c-basket-fill;
        border: 1px solid @c-order-step-point;
        color: @c-black;
        margin-top: 5px;
        padding: 8px 42px 20px 14px;
        position: absolute;
        z-index: 1;

        &.active {
            .transform(translateY(0));
        }

        &-list {
            color: @c-black-lighter-x;
            margin: 0 0 15px;
            max-height: 205px;
            position: relative;
            top: 6px;

            &:focus {
                outline: none;
            }
        }

        &-item {
            border-radius: 3px;
            background: @c-basket-item;
            font-size: @f-size-base - 2;
            margin: 0 13px 15px 0;
            padding: 12px 15px 8px 8px;
            position: relative;
        }

        &-stuff-link {
            border-radius: 4px;
            background: @c-white;
            border: 1px solid @c-tooltip-img-border;
            height: 43px;
            margin: 0 10px 10px 0;
            float: left;
            overflow: hidden;
            width: 44px;
        }

        &-stuff-about {
            height: 45px;
            line-height: 130%;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            top: -2px;
            width: 130px;
        }

        &-stuff-title {
            color: @c-black-lighter-x;
            text-decoration: none;

            &:visited {
                color: @c-black-lighter-x;
            }

            &:hover {
                color: @c-tooltip-hovered-link;
            }
        }

        &-stuff-price {
            padding: 0 0 0 2px;
        }

        &-sum {
            font-size: @f-size-base;
        }

        &-calculations {
            border-top: 1px solid @c-tooltip-img-border;
            margin-bottom: 5px;
            margin-right: 22px;
            padding: 9px 0 9px 22px;
        }

        &-price-sum {
            .font-anti;
            font-family: @proxima-bold;
            margin-bottom: 1px;
        }

        &-info {
            color: @c-grey-text-main;
            font-size: @f-size-base - 2;
            margin-bottom: 7px;
        }

        &-close {
            cursor: pointer;
            height: 17px;
            position: absolute;
            right: 1px;
            top: 5px;
            width: 20px;

            &:before {
                background: @sp-main;
                .sprite(@05);
                content: "";
                position: absolute;
            }

            &:hover:before {
                .sprite(@06);
            }
        }

        .form-control {
            height: 36px;
            margin-bottom: 0;
            width: 174px;
        }

        .form-group {
            margin-bottom: 24px;
        }

        .btn-submit {
            .btn-dark-blue(4px, 18px, 5px 45px);
            left: 11px;
            position: relative;
            max-width: 180px;
        }
    }

    // Stuff list:
    &-list {
        &-item {
            border-top: 1px solid @c-order-step-point;
            font-size: @f-size-base;
            margin: 9px 0 12px;
            padding: 17px 0 11px 0;
            position: relative;
        }

        &-stuff-link {
            border-radius: 4px;
            background: @c-white;
            border: 1px solid @c-tooltip-img-border;
            height: 64px;
            margin: 0 10px 10px 0;
            float: left;
            overflow: hidden;
            width: 77px;
        }

        &-stuff-about {
            display: inline-block;
            height: 45px;
            line-height: 130%;
            margin-bottom: 10px;
            overflow: hidden;
            padding: 8px 0 0;
            position: relative;
            top: -2px;
            width: 123px;
        }

        &-stuff-title {
            color: @c-black-lighter-x;
            text-decoration: none;

            &:visited {
                color: @c-black-lighter-x;
            }

            &:hover {
                color: @c-tooltip-hovered-link;
            }
        }

        &-stuff-price {
            color: @c-tooltip-hovered-link;
            display: inline-block;
            font-size: 16px;
            padding: 7px 0 0;
            text-align: right;
            vertical-align: top;
            width: 100px;
        }

        &-sum {
            font-size: @f-size-base;
        }

        &-calculations {
            border-top: 1px solid @c-tooltip-img-border;
            margin-bottom: 5px;
            margin-right: 22px;
            padding: 9px 0 9px 22px;
        }

        &-price-sum {
            .font-anti;
            font-family: @proxima-bold;
            margin-bottom: 1px;
        }

        &-info {
            color: @c-grey-text-main;
            font-size: @f-size-base - 2;
            margin-bottom: 7px;
        }

        &-wrapper {
            margin-top: 23px;
        }

        &-title {
            .font-bold;
            color: @c-black-darkest;
            display: inline-block;
            font-size: 16px;
        }

        &-change {
            float: right;
        }
    }

    &-person {
        &-data {
            font-size: 12px;
            line-height: 120%;
            padding: 10px 0 0;

            p {
                margin-bottom: 20px;
            }

            &-wrapper {
                padding: 23px 0 19px;
            }

            &-wrapper hr {
                border-top-color: @c-order-step-point;
                margin: 8px 0 0;
            }

            &-email {
                color: @c-black-darkest;
                display: inline-block;
                border-bottom: 1px solid @c-head-mail-border;
                text-decoration: none;

                &:hover {
                    color: @c-black-darkest;
                    border-color: transparent;
                }

                &:visited {
                    color: @c-black-darkest;
                }
            }
        }

        &-title {
            .font-bold;
            color: @c-black-darkest;
            font-size: 14px;
            display: inline-block;
        }
    }

    .dropdown-label {
        cursor: pointer;
        font-size: 18px;
        padding: 0 12px 0 12px;
        position: relative;
        top: 3px;
    }

    &-list-change {
        color: @c-black-darkest;
        border-bottom: 1px solid @c-head-mail-border;
        padding: 0 4px 0 0;
        position: relative;
        text-decoration: none !important;

        &:hover {
            border: none;
            color: @c-black-darkest;
        }

        &:before {
            background: @sp-main;
            content: "";
            .sprite(@07);
            left: -25px;
            position: absolute;
            top: -2px;
        }
    }

    &-list-pay {
        .font-anti;
        background: @c-blue-table-fill;
        color: @c-order-step-pay-text;
        font-family: @proxima-bold;
        font-size: @f-size-base + 4;
        font-weight: 500;
        letter-spacing: 0.015em;
        padding: 19px 15px 10px 0;
        text-align: right;

        &-label {
            display: inline-block;
            min-width: 100px;
            text-align: right;
        }

        &-number {
            text-align: right;
        }

        &-notice {
            color: @c-grey-text-main;
            font-family: @proxima;
            font-size: 12px;
        }
    }

    &-form-error {
        color: @c-text-red-lighter;
        display: none;
        font-size: 12px;
        padding: 0 0 2px;

        &.active {
            display: block;
        }
    }

    &-form-text-success {
        .font-anti;
        color: @c-order-success;
        display: none;
        text-indent: -132px;

        &.active {
            display: block;
        }
    }

    &-form-text-error {
        .font-anti;
        color: @c-order-error;
        display: none;
        text-indent: -132px;

        &.active {
            display: block;
        }
    }

    &-file {
        display: none !important; // !important is needed;

        &-title {
            .font-anti;
            font-family: @proxima-bold;
            font-size: 16px;
            padding: 26px 0 0;
        }

        &-title-01 {
            border-top: 1px solid @c-order-step-point;
            margin: -11px 0 22px;
            padding: 26px 0 0;
        }

        &-title-02 {
            margin: 0 0 22px;
            padding: 27px 0 0;
        }

        &-wrapper-01 {
            margin-bottom: 22px;
            position: relative;
        }
    }

    .form-row {
        position: relative;

        &-01 {
            margin-bottom: 29px;
        }

        &-04 {
            margin-bottom: 20px;
        }

        &-06 {
            left: 2px;
            margin-top: 9px;
            margin-bottom: 21px;
        }

        &-07 {
            margin-bottom: 35px;
        }

        &-09 {
            margin-bottom: 29px;
        }
    }

    &-pdf {
        &-wrapper {
            border-radius: 4px;
            background: url("@{img-path}/pay-pdf.png") no-repeat 34px 8px;
            border: 1px solid @c-order-btn-file;
            margin: 22px 1px 11px 0;
            overflow: hidden;
            padding: 24px 35px 20px 85px;
        }

        &-text {
            float: left;
        }

        &-load {
            float: right;
            color: @c-black-darkest;
            cursor: pointer;
            border-bottom: 1px solid @c-head-mail-border;
            text-decoration: none !important;

            &:hover {
                border-color: transparent;
                color: @c-black-darkest;
            }
        }
    }

    &-result {
        .order-h1 {
            margin: -6px 0 -1px;
        }

        &.order-part-left {
            width: 87.5%;
        }

        &-text {
            color: @c-black-darkest;
            font-size: 16px;
            letter-spacing: -0.008em;
            padding: 0 0 13px 11px;

            span {
                .font-bold;
                letter-spacing: 0.04em;
            }
        }

        &-email {
            color: @c-black-darkest;
            display: inline-block;
            border-bottom: 1px solid @c-head-mail-border;
            text-decoration: none;

            &:hover {
                color: @c-black-darkest;
                border-color: transparent;
            }

            &:visited {
                color: @c-black-darkest;
            }
        }

        &-info {
            .font-bold;
            border-top: 1px solid @c-order-step-point;
            color: @c-black-darkest;
            font-size: 16px;
            margin: 0 0 0 12px;
            padding: 22px 0 10px;
        }

        &-subinfo {
            color: @c-text-muted;
            margin: 0 0 48px 12px;
        }

        .btn-submit {
            .btn-dark-blue(5px, 18px, 5px 25px);
            margin: 0 0 61px 12px;
        }
    }

    &-social {
        border-radius: 2px;
        background: @c-order-step-point;
        color: @c-order-blue-text;
        font-size: 18px;
        margin-left: 11px;
        padding: 19px 20px 6px 20px;
        width: 593px;

        &-list,
        &-title {
            display: inline-block;
            margin: 0;
            vertical-align: top;
        }

        &-title {
            margin-right: 17px;
        }

        &-item {
            .transition;
            background: url("@{img-path}/sp-socials.png") no-repeat;
            cursor: pointer;
            display: inline-block;
            height: 36px;
            margin: -9px 18px 0 0;
            width: 37px;

            &:hover {
                opacity: 0.8;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &-02 {
                background-position: -59px 0;
            }

            &-03 {
                background-position: -119px 0;
            }

            &-04 {
                background-position: -178px 0;
            }

            &-05 {
                background-position: -238px 0;
            }
        }
    }

    &-img-logo {
        left: 17px;
        position: absolute;
        top: -14px;
    }
}

.btn-file {
    .transition;
    background: @c-order-btn-file;
    color: @c-white;
    padding: 5px 34px;
    position: relative;

    &:hover {
        background: @c-order-btn-file-hovered;
        color: @c-black;
    }

    &:active {
        background: @c-order-btn-file-active;
        color: @c-white;
        outline: none;
    }
}

label.order-label-with-logo {
    padding-left: 117px;
    top: -8px;

    &:before {
        top: 8px !important; // NEED TO: Overide theme-customing styles for inputs;
    }

    &:after {
        top: 10px !important; // NEED TO: Overide theme-customing styles for inputs;
    }
}

.form {
    &-wrapper {
        margin-bottom: 30px;
        position: relative;
    }

    &-delivery {
        margin: -5px 0 85px 16px;
    }

    &-text-muted {
        color: @c-text-muted;
        font-size: 12px;
        letter-spacing: -0.008em;
        margin: -3px 0 16px 23px;

        &-business-lines {
            left: 95px;
            position: relative;
            top: -8px;
        }

        &-pek {
            left: 94px;
            position: relative;
            top: -8px;
        }
    }

    &-radio-text {
        color: @c-order-radio-text;
        font-family: @proxima-light;
        padding: 0 0 0 24px;
    }

    &-radio-form {
        display: none;
        margin-bottom: 20px;
        padding-left: 19px;
        position: relative;

        &.active {
            display: block;
        }

        &-02 {
            margin-bottom: 34px;
        }

        &-03 {
            margin-bottom: 33px;
            padding-top: 17px;
        }
    }

    &-map-wrapper {
        .transition;
        border-radius: 1px;
        border: 1px solid @c-order-step-point;
        bottom: -48px;
        margin-bottom: 45px;
        opacity: 0;
        position: absolute;
        right: 2px;
        z-index: 1;

        &.active {
            bottom: auto;
            left: -2px;
            opacity: 1;
            position: relative;
            top: 3px;
            z-index: 2;
        }
    }

    &-h4 {
        .font-bold;
        color: @c-order-blue-text;
        margin: 29px 0 11px;
        font-size: 16px;
    }

    &-comment-wrapper {
        border-top: 1px solid @c-order-step-point;
        padding: 27px 0 0;
        position: relative;
        top: 10px;
    }

    &-payment {
        margin-bottom: 52px;
        padding: 0 0 0 35px;

        &-item {
            margin-bottom: 29px;

            .form-radio {
                margin: 6px 6px 0 0;
            }

            .form-radio-text {
                .font-bold;
                display: inline-block;
                line-height: 120%;
                padding: 0 0 0 21px;
                vertical-align: top;
            }
        }

        .btn-submit {
            .btn-dark-blue(5px, 18px, 9px 53px 7px);
            margin: 20px 0 0 -23px;
        }

        .btn-pay-by-bill {
            background: @c-order-success;
            border-color: @c-order-success;
            box-shadow: none !important;
            margin-left: 10px;

            &:hover {
                background: @c-order-success-hovered;
                border-color: @c-order-success-hovered;
            }
        }

        &-logo {
            position: relative;
            top: -9px;
        }
    }
}

.payment {
    &-wrapper {
        border-radius: 5px;
        background: url("@{img-path}/pay-lock.png") no-repeat 19px 7px;
        border: 2px solid @c-product-pop-label;
        color: @c-product-pop-label;
        margin: -15px 63px 27px 12px;
        padding: 12px 5px 11px 81px;
    }

    &-muted {
        color: @c-text-muted;
        font-size: 12px;
        line-height: 120%;
        margin: -9px 0 0;
    }

    &-title {
        .font-bold;
        font-size: 16px;
        padding: 0 0 0 11px;
    }

    &-text-muted {
        color: @c-text-muted;
        font-size: 14px;
        letter-spacing: -0.008em;
        margin: -7px 0 27px 11px;
    }
}

.input-necessarily {
    border-color: @c-black;

    &.error {
        border-color: @c-text-red-lighter;
    }
}

.fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

// TO THEME_CUSTOMING:
.order .progress {
    display: inline-block;
    left: 11px;
    position: relative;
    top: 28px;
    vertical-align: top;
    width: 294px;
}

.progress {
    background: @c-order-step-point;
    border-radius: 0;
    height: 4px;

    &-bar-success {
        background-color: @c-order-btn-file;
    }

    &-success {
        background: @sp-main;
        display: none;
        .sprite(@10);
        position: absolute;
        left: 404px;
        top: 7px;

        &.active {
            display: block;
        }
    }

    &-error {
        background: @sp-main;
        display: none;
        .sprite(@11);
        position: absolute;
        left: 381px;
        top: 6px;

        &.active {
            display: block;
        }
    }
}
