{
  "extends": "airbnb-base",
  "globals": {
    "$": true,
    "admin": true,
    "configs": true,
    "Cookies": true,
    "helpers": true,
    "jQgridSettings": true,
    "mediator": true,
    "popover": true,
    "server": true,
    "validator": true,
    "google": true,
    "window": true,
    "yaCounter20644114": true
  },
  "rules": {
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }]
  }
}
