{
  "extends": "airbnb-base",
  "globals": {
    "$": true,
    "admin": true,
    "autocomplete": true,
    "configs": true,
    "event": true,
    "document": true,
    "Cookies": true,
    "helpers": true,
    "jQgridSettings": true,
    "location": true,
    "localStorage": true,
    "mediator": true,
    "popover": true,
    "server": true,
    "validator": true,
    "google": true,
    "window": true,
    "yaCounter20644114": true
  },
  "rules": {
    "no-console": ["error", {
      "allow": ["group", "groupEnd", "info", "error", "warn"]
    }],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false
    }],
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }]
  }
}
