__pycache__/
*.py[cod]
*$py.class
.idea/
front/build
env/
src/
*.sqlite*
*.htaccess
node_modules
shopelectro/migrations/
shopelectro/settings/local.py
static/**/*
media/**/*
!media/products/280/*
pricelist.xlsx
priceru.xml
yandex.yml
