__pycache__/
*.py[cod]
*$py.class
.idea/
front_build/
env/
src/
*.sqlite*
*.htaccess
*.log
node_modules/
shopelectro/settings/local.py
static/
pricelist.xlsx
priceru.xml
yandex.yml
docker/.env
docker/.env
docker/env_files/*
!docker/env_files/*.dist
celerybeat-schedule
package-lock.json
.vscode/
database/
*report.xml
.DS_store
*.orig
venv/
.sublime-project
.sublime-workspace

