celery
dj-database-url==0.4.1
Django==1.10
django-debug-toolbar
django-redis
django-mptt==0.8.7
django-widget-tweaks
git+https://github.com/selwin/django-user_agents@44b752611b4e5cf3df8a053f7aac299ac56f591f#egg=django_user_agents
ipython
openpyxl
pillow
psycopg2
requests
selenium
selenium-requests
tblib
unidecode
ua-parser==0.7.3
user-agents==1.0.1
sorl-thumbnail==12.4a1
-e git+https://github.com/fidals/refarm-site.git@aab21350cf0393b85c72909701e1b89a22e347d6#egg=refarm-site
