celery
dj-database-url==0.4.1
Django==1.10
django-debug-toolbar
django-redis
django-mptt==0.8.7
django-widget-tweaks
ipython
openpyxl
pillow
psycopg2
requests
selenium
selenium-requests
tblib
unidecode
ua-parser==0.7.3
user-agents==1.0.1
sorl-thumbnail==12.4a1
https://github.com/selwin/django-user_agents/archive/master.zip
https://github.com/fidals/refarm-site/archive/fix_manifest.zip
