Django==1.9.5
django-debug-toolbar
django-user-agents==0.3.0
django-widget-tweaks
tblib
pillow
selenium
selenium-requests
psycopg2
openpyxl
unidecode
dj-database-url==0.4.1
sorl-thumbnail==12.4a1
ua-parser==0.7.3
user-agents==1.0.1
-e git+https://github.com/fidals/refarm-site.git#egg=refarm-site
