{% load pages_extras %}

<div class="hidden-xs hidden-sm breadcrumbs-wrapper"
     itemscope itemtype="https://schema.org/BreadcrumbList">
  {% for name, url, siblings in crumbs_list %}
      {% if url %}
        <span class="breadcrumbs-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ base_url }}{{ url }}" itemprop="item" class="breadcrumbs-link">
             class="breadcrumbs-link">
            <span itemprop="name">{{ name }}</span>
          </a>

          {% if siblings %}
            <ul class="breadcrumbs-siblings-links list-white">
              {% for sibling_page in siblings %}
                <li>
                  <a href="{{ sibling_page.url }}" class="list-white-link">
                    {{ sibling_page.menu_title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </span>
      {% else %}
        <span itemprop="name">{{ name }}</span>
      {% endif %}

      <meta itemprop="position" content="{{ forloop.counter }}">
      {% if not forloop.last %}
        <span class="breadcrumbs-separator">{{ separator }}</span>
      {% endif %}
  {% endfor %}
</div>
