{% extends 'layout/inner_page.html' %}

{% load static %}
{% load pages_extras %}

{% block content %}
  {% breadcrumbs page %}

  <div class="row">
    <div class="col-sm-3 p-article-sidebar">
      {% accordion %}
    </div>

    <div class="col-sm-9 right-col">
      <h1>{{ page.display_h1 }}</h1>
      {% if page.type != 'navigation' and page.date_published %}
        <p class="date-pub-article">
          {{ page.date_published|date:'d.m.Y' }}
        </p>
      {% endif %}
      {% autoescape off %}
        {% if page.content %}
          {{ page.content }}
        {% endif %}
      {% endautoescape %}
      {% if page.is_section %}
        {% include 'pages/pages.html' with pages=page.children.all only %}
      {% endif %}
    </div>
  </div>
{% endblock %}
