{% extends 'layout/base.html' %}

{% load staticfiles %}
{% load pages_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages.min.css' %}">
{% endblock %}

{% block content %}
  {% breadcrumbs page %}

  <div class="row">
    <div class="p-article-sidebar col-xs-3">
      {% accordion %}
    </div>

    <div class="col-xs-9 right-col">
      <h1>{{ page.h1 }}</h1>
      {% if page.type != 'navigation' and page.date_published %}
        <p class="date-pub-article">
          {{ page.date_published|date:'d.m.Y' }}
        </p>
      {% endif %}
      {% autoescape off %}
        {% if page.content %}
          {{ page.content }}
        {% endif %}
      {% endautoescape %}
      {% if page.is_section %}
        {% include 'pages/pages.html' with pages=page.children.all only %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static 'js/pages.min.js' %}"></script>
{% endblock %}
