{% extends 'layout/inner_page.html' %}

{% load static %}
{% load pages_extras %}

{% block content %}
  <div class="article-content">
    <div class="col-sm-3 p-article-sidebar">
      {% include 'pages/accordion.html' %}
    </div>

    <div class="col-sm-9 right-col">
      <h1>Статьи Shopelectro</h1>
      <div>
        <ul>
          {% if not post_types %}There is no posts yet{% endif %}

          {% for item in post_types %}
            <li><a href="{{ item.slug }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
