@import "../common/variables";
@import "../common/mixins/utilities";

.accordion {
  .white-plate;

  &-item {
    line-height: 1.2;
    margin: 0;

    &:nth-child(odd) {
      background: @c-accordion-link-bg;
    }

    &:hover {
      background: @c-accordion-link-bg-hovered;
    }
  }

  &-first-item {
    margin: 0;
    padding: 5px 10px;

    .fa {
      .transition;
      position: relative;
    }

    &:hover .fa {
      transform: translate(3px, 0);
    }
  }

  &-title {
    .transition;
    border-radius: @border-radius @border-radius 0 0;
    border-top: 1px solid @c-price-border-color;
    color: @c-tooltip-hovered-link;
    cursor: pointer;
    display: block;
    font-size: @f-size-base;
    padding: 10px;
    position: relative;
    text-decoration: none;

    &:hover,
    &.active {
      background: @c-accordion-link-bg-hovered;
      color: @c-black;
      text-decoration: none;
    }

    &:first-child {
      border-color: transparent;
    }

    .fa {
      .transition;
      font-size: @f-size-base - 2;
      height: 10px;
      margin: -5px 0 0;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 50%;
      transform: translate(-5px, -1px);
      transform-origin: center;
      width: 10px;
    }

    &.active .fa {
      transform: rotate(-90deg) translate(0, -5px);
    }
  }

  &-link {
    .transition;
    color: @c-tooltip-hovered-link;
    cursor: pointer;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: @c-black;
      text-decoration: none;
    }
  }

  &-link-to-category {
    .transition;
    color: @c-text-grey-light;
    display: block;
    font-size: @f-size-base - 2;

    .fa {
      left: 4px;
      position: relative;
      top: 1px;
    }
  }
}
