.accordion {
  &-item {
    line-height: 1.2;
    margin: 0;

    &:nth-child(odd) {
      background: @c-accordion-link;
    }

    &:hover {
      background: @c-accordion-link-hovered;
    }
  }

  &-first-item {
    margin: 0;
    padding: 2px 0 5px;

    .fa {
      position: relative;
      transition: all 0.3s ease;
    }

    &:hover .fa {
      transform: translate(3px, 0);
    }
  }

  &-title {
    border-top: 1px solid @c-price-border-color;
    color: @c-tooltip-hovered-link;
    cursor: pointer;
    border-radius: 2px;
    display: block;
    font-size: @f-size-base;
    padding: 10px 5px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover,
    &.active {
      background-color: @c-accordion-link-hovered;
      color: @c-black;
      text-decoration: none;
    }

    &:first-child {
      border-color: transparent;
    }

    .fa {
      font-size: @f-size-base - 4;
      height: 10px;
      margin: -5px 0 0;
      position: absolute;
      right: 2px;
      text-align: center;
      top: 50%;
      transform-origin: center;
      transition: all 0.3s;
      width: 10px;
    }

    &.active .fa {
      transform: rotate(-90deg);
    }
  }

  &-link {
    color: @c-tooltip-hovered-link;
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: @c-black;
      text-decoration: none;
    }
  }

  &-content {
    background: @c-white;
  }

  &-link-to-category {
    color: @c-order-btn-file;
    display: block;
    font-size: 0.8em;
    padding: 5px;
    transition: all 0.3s;

    .fa {
      left: 4px;
      position: relative;
      top: 1px;
    }
  }
}

