// ================================================================
// VARIABLES
// ================================================================
@c-body-bg: #ecf0f5;
@c-draggable-bg: #fbf9e;
@c-draggable-border: #fcefa1;
@c-input-border: #ddd;
@c-sidebar-bg: #222d32;
@c-sidebar-border: #444;
@c-sidebar-link: #eee;
@c-table-secondary-bg: #f8f8f8;
@c-turquoise-green: #0d8a8c;
@c-remove-icon: #d24a43;

@header-height: 60px;
@sidebar-width: 450px;
@input-height: 34px;

// Common
body.admin {
  background: @c-body-bg;
  font-family: "Roboto", "Lucida Grande", Arial, sans-serif;

  .table > thead > tr > th {
    color: @c-black;
  }

  td,
  th {
    font-size: @f-size-base - 2;
    padding: 15px 8px;
  }
}

.module.filtered {
  background: @c-body-bg;
}

.module.calendarbox {
  z-index: 10;
}

.admin {
  input:not([type="checkbox"]) {
    height: @input-height;
  }

  .content {
    height: 100%;
    position: relative;
  }
}

.transition {
  transition: all 0.5s ease;
}

.sidebar,
.admin-logo,
.images .fa,
.messagelist,
.main-content,
.sidebar-links,
.images-item,
.admin-breadcrumb-wrapper {
  transition: all 0.5s ease;
}

.admin.login {
  #container {
    margin: 150px auto;
    min-width: 0;
    overflow: visible;
    width: 790px;
  }

  .main-content {
    margin: 0;
  }

  .submit-row {
    padding-left: 0;
  }
}

// Header
body.admin div#header {
  height: @header-height;
  padding: 10px 20px 10px 0;

  h1 {
    line-height: 1.65;
  }
}

#user-tools {
  font-size: @f-size-base - 2;
}

.admin {
  &-header {
    overflow: hidden;

    &-wrapper {
      height: @header-height;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;

      .login & {
        display: none;
      }
    }
  }

  &-logo {
    background: @c-sidebar-bg;
    height: @header-height;
    float: left;
    padding: 0 15px;
    text-align: center;
    width: @sidebar-width;

    .img-responsive {
      margin: 8px auto 0;
      max-width: 180px;
    }
  }
}

.admin-breadcrumb-wrapper {
  margin: 0 0 0 @sidebar-width;

  .collapsed & {
    margin-left: 0;
  }
}

div.breadcrumbs {
  margin-top: 0;
  padding: 10px 15px;
}

// Sidebar
.sidebar {
  background: @c-sidebar-bg;
  border-top: 1px solid @c-sidebar-border;
  display: flex;
  height: 100%;
  flex-direction: column;
  left: 0;
  padding: 20px 0 0;
  position: fixed;
  top: @header-height;
  width: @sidebar-width;
  z-index: 100;

  .collapsed & {
    width: 0;
  }

  &-toggle {
    cursor: pointer;
    float: left;
    font-size: @f-size-base + 4;
    padding: 21px 20px 23px;

    .icon-bar {
      background: @c-white;
      display: block;
      margin-top: 0;
      height: 2px;
      width: 22px;

      + .icon-bar {
        margin-top: 4px;
      }
    }
  }

  .jstree {
    &-anchor {
      color: @c-sidebar-link;
      user-select: none;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
    }

    &-hovered,
    &-clicked {
      background: @c-turquoise-green;
      box-shadow: none;
    }

    &-leaf &-icon {
      visibility: hidden;
      width: 12px !important;
    }
  }

  .slimScrollBar {
    background: @c-turquoise-green !important;
    opacity: 1 !important;
  }

  &-tree {
    flex: 1;
  }

  &-links {
    background: fade(@c-white, 5%);
    border-top: 1px solid @c-sidebar-border;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px 0 0;
    position: fixed;
    width: @sidebar-width;
    z-index: 10;

    &-item {
      font-size: @f-size-base - 2;
      padding: 0;
    }

    .collapsed & {
      overflow: hidden;
      width: 0;
    }

    .form-inline {
      padding: 0 20px 5px;
      white-space: nowrap;
    }

    .form-control {
      background: fade(@c-white, 80%);
      width: 250px;
    }
  }

  &-link {
    display: block;
    padding: 10px 20px;
    transition: all 0.5s ease;

    &:hover,
    &.active {
      background: rgba(250, 250, 250, 0.1);
      text-decoration: none;
      text-indent: 5px;
    }
  }

  &-search-field {
    .transition;
    overflow: hidden;
    width: 100%;

    .collapsed & {
      width: 0;
    }
  }

  a {
    color: @c-white;
  }
}

.jstree-leaf .jstree-icon {
  visibility: hidden;
  width: 12px !important;
}

// jsTree contextmenu
.jstree-contextmenu {
  z-index: 100;
}

// Content
.main-content {
  height: 100%;
  margin-left: 450px;
  min-width: 750px;
  padding: 80px 15px 15px;

  .collapsed & {
    margin-left: 0;
  }
}

#content {
  padding: 0;

  .dashboard & {
    width: auto;
  }
}

.admin #changelist #toolbar form #searchbar {
  font-size: @f-size-base;
  height: @input-height;
  padding: 2px 10px;
}

.main-content {
  .submit-row a.deletelink {
    height: auto
  }

  input[type="file"] {
    float: left;
  }
}

// List page
div.autocomplete-suggestions {
  width: 398px !important;
}

div.autocomplete-suggestion {
  line-height: 2;
  padding: 3px 5px;
}

.actions {
  span,
  input,
  label {
    color: @c-black;
  }
}

.admin {
  #changelist .actions {
    select {
      height: @input-height;
      width: 300px;
    }

    label {
      line-height: 2.5;
    }

    .button {
      vertical-align: text-bottom;
    }
  }
}

.field-link {
  display: block;
  font-size: @f-size-base + 1;
  text-align: center;
}

.field-is_active {
  text-align: center;
}

// Change page
.admin-entity-list-form {
  select,
  input[type="text"],
  input[type="number"] {
    height: @input-height;
    width: 450px;
  }
}

.images-item {
  border: 1px solid @c-sidebar-border;
  border-radius: 4px;
  height: 150px;
  padding: 2px;
  position: relative;
  top: 0;
  max-width: 100%;
}

.admin {
  &-upload-form {
    margin-bottom: 20px;
  }

  h1 {
    font-weight: 300;
    margin: 10px 0 25px;
  }

  &[class*="app-"] {
    h1 {
      margin-top: 35px;
    }
  }

  &.table-editor {
    h1 {
      margin: 35px 0 15px;
    }
  }
}

// Messagelist
ul.messagelist {
  margin: 95px 0 -105px 450px;

  .collapsed & {
    margin-left: 0;
  }

  li {
    background-position: 14px 12px;
    padding-left: 40px;
  }
}

// jQgrid filter section
.admin.table-editor {
  .btn-switch-filter {
    float: left;
    height: 35px;
    margin: 20px 25px 0 0;
    min-width: 208px;
  }

  .btn-save-filter {
    margin: 20px 0 10px;
  }
}

.filter {
  &-section {
    margin: 0 0 25px;
  }

  &-wrapper {
    display: none;
    overflow: hidden;
  }

  &-fields {
    background: @c-white;
    border: 1px solid @c-input-border;
    height: 153px;
    overflow-y: auto;

    &-item {
      list-style: none;
      padding: 0;
      position: relative;
    }

    &-label {
      cursor: pointer;
      display: block;
      font-size: @f-size-base - 2;
      font-weight: 400;
      line-height: 1.4;
      margin: 0;
      padding: 5px 8px 6px;
      transition: all 0.3s ease;

      &:hover {
        background: fade(@c-black, 5%);
      }
    }

    &-checkbox {
      height: 15px;
      position: absolute;
      right: 8px;
      top: 4px;
      width: 15px
    }
  }
}

.filters-remove {
  cursor: pointer;
  font-size: @f-size-base - 2;
  text-align: center;
  text-decoration: underline;
  width: 164px;

  &:hover {
    text-decoration: none;
  }
}

.sortable {
  &-item {
    background: @c-white;
    font-size: @f-size-base - 2;
    list-style: none;
    margin: 0 0 2px;
    min-height: 29px;
    padding: 2px 5px;
    border: 1px solid @c-input-border;
    font-weight: normal;
    cursor: pointer;
    line-height: 1.7;
  }
}

.ui-state-highlight {
  background: @c-draggable-bg;
  border-color: @c-draggable-border;
}

.live-filter {
  &-wrapper {
    margin: -2px 0 0;
  }
}

// Table editor
.admin.table-editor {
  .btn {
    height: @input-height;
    padding-top: 4px;
  }
}

.admin .jqgrid {
  &-search-field {
    background: @c-white;
    border-color: @c-input-border;
    width: 546px;
  }

  &-remove-icon {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: @c-remove-icon;
    }
  }

  &.table {
    > tbody > tr > td {
      padding: 8px 8px 6px;
      transition: all 0.3s ease;
    }

    .jqgfirstrow > td {
      padding: 0;
    }
  }

  td,
  th,
  .form-control {
    font-size: @f-size-base - 2;
  }

  .inline-edit-cell {
    margin: -6px 0 -4px;
  }

  input {
    height: 31px;
    width: 100% !important;
  }

  input[type="checkbox"] {
    height: 16px;
  }

  input[type="checkbox"].editable {
    cursor: pointer;
  }
}

.ui-jqgrid-btable .jqgrow td {
  background: @c-white;
  white-space: inherit;
}

.admin tr.jqgrid-secondary td {
  background: @c-table-secondary-bg;
}

// Confirm modal
.modal-wrapper {
  backface-visibility: hidden;
  height: auto;
  left: 50%;
  max-width: 950px;
  position: fixed;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  width: 50%;
  z-index: 2000;
}

.admin .modal-box {
  color: @c-white;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-5%);

  &-title {
    font-size: @f-size-base + 24;
    font-weight: 300;
    line-height: 140%;
  }

  &-buttons {
    padding: 15px 0 0;
    text-align: center;
  }

  .btn {
    color: @c-white;
    height: 40px;
    font-size: @f-size-base;
    margin: 0 12px;
    min-width: 200px;
    padding: 8px;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
}

.admin .modal-show {
  .modal-box {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-show {
  display: block;
  visibility: visible;

  ~ .modal-overlay {
    opacity: 1;
    visibility: visible;
  }

  ~ .container {
    transition: all 0.5s ease;
  }
}

.modal-overlay {
  background: fade(@c-turquoise-green, 90%);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.8s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1500;
}

// jQuery UI Autocomplete
.ui-autocomplete {
  background: @c-white;
  box-shadow: -1px 1px 3px fade(@c-black, 10%);
  margin: -5px 0 0 0;
  max-height: 300px;
  overflow-y: auto;
  width: 300px !important;
  z-index: 1;
}

.ui-menu-item {
  border-bottom: 1px dotted @c-tooltip-img-border;
  color: @c-body-text;
  cursor: pointer;
  display: block;
  font-size: @f-size-base - 1;
  line-height: 2;
  min-height: 40px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  transition: background 0.3s ease;
}

.ui-menu-item-wrapper {
  padding: 3px 5px;

  &:hover,
  &.ui-state-active {
    background: @c-block-link-hover;
  }
}
