@import "../common/variables";
@import "../common/utilities/mixins";

.p-article {
  &-sidebar {
    .Q(@sm; {
      padding-top: 18px;
    });
  }
}

.article {
  img,
  &-img-title {
    border: 1px solid @c-article-img-border;
    box-shadow: 4px 4px 0 @c-article-img-shadow;
    float: left;
    margin: 0 23px 23px 0;
  }

  &-text-pre {
    line-height: 145%;
    padding: 11px 0 0;
    overflow: hidden;
  }

  p,
  &-text {
    line-height: 145%;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li,
  &-list-item {
    display: table;
    padding: 0 0 0 15px;
    position: relative;

    &:before {
      background: @c-text-grey-light;
      content: "";
      height: 8px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 8px;
    }
  }
}

.right-col {
  line-height: 1.4;
  z-index: 0;
}

.delivery-maps {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  width: 48%;
}

body {
  counter-reset: heading;
}

.delivery-h3:before {
  content: counter(heading) ". ";
  counter-increment: heading;
}

.delivery-counter {
  counter-reset: list2;
}

.russia-delivery-h3:before {
  content: counter(list2) ". ";
  counter-increment: list2;
}

table,
td.contacts {
  padding: 5px;
  margin-bottom: 30px;
}

.payments {
  margin-top: 30px;

  &-caption:before {
    content: '';
    display: block;
    float: left;
    height: 32px;
    margin-right: 15px;
    position: relative;
    top: -3px;
    width: 32px;
  }

  &-spb:before {
    background: url('@{img-path}/anchor.png') no-repeat;
    background-size: cover;
  }

  &-russia:before {
    background: url('@{img-path}/cathedral-of-saint-basil.png') no-repeat;
    background-size: cover;
  }

  &-online-buy:before {
    background: url('@{img-path}/commerce-payments.png') no-repeat;
  }

  &-beznal:before {
    background: url('@{img-path}/nal-payments.png') no-repeat;
  }

  &-list {
    font-size: @font-size-base + 2;

    li {
      list-style-type: square;
      padding: 5px;
    }
  }
}
