@import "../common/utilities/mixins";

.category-block {
  margin: 0 auto;

  .Q(600; {
    float: left;
    width: 48%;
  });

  .Q(@sm; {
    width: 32%;
  });

  &:not(:last-child) {
    .Q(600; {
      margin: 0 2% 0 0;
    });
  }
}

.catalog-list {
  padding: 0 0 0 30px;

  &-item {
    display: list-item;
    line-height: 1.6;
    list-style: circle;
    margin-bottom: 10px;
  }

  &-children {
    margin-bottom: 10px;
    padding: 0 0 0 20px;

    .Q(@sm; {
      padding: 0 0 0 40px;
    });
  }

  &-link {
    text-decoration: none;
  }
}
