@import "../common/utilities/mixins";

.category-block {
  margin: 0 auto;
  margin: 0 2% 0 0;
  display: inline-block;
  vertical-align: top;

  .Q(600; {
    width: 47%;
  });

  .Q(@sm; {
    width: 31%;
  });
}

.catalog-list {
  padding: 0 0 0 30px;

  &-item {
    display: list-item;
    line-height: 1.6;
    list-style: circle;
    margin-bottom: 10px;
  }

  &-children {
    margin-bottom: 10px;
    padding: 0 0 0 20px;

    .Q(@sm; {
      padding: 0 0 0 40px;
    });
  }

  &-link {
    text-decoration: none;
  }
}
