.catalog-list {
  padding: 0 0 0 30px;

  &-item {
    display: list-item;
    line-height: 1.6;
    list-style: circle;
    margin-bottom: 10px;
  }

  &-children {
    margin-bottom: 10px;
  }

  &-link {
    text-decoration: none
  }
}
