@import "../vendors/bootstrap-select/*";
@import "../common/utilities/sprite-main";
@import "../common/utilities/mixins";
@import "../common/variables";

.category {
  &-image-wrapper {
    .white-plate;
    margin-bottom: 10px;
    max-height: 250px;
    text-align: center;
    z-index: 1;
  }

  &-title {
    font-size: @f-size-base + 10;
    font-weight: 600;
    margin-top: 0;
  }

  &-product-link {
    display: flex;
    height: 180px;
    position: relative;
  }
}

.subcategory-list {
  .teaser-shadow;
  background: @c-light-grey-plate-bg;
  border-radius: @border-radius;
  max-height: 200px;
  overflow: auto;
  padding: 15px 15px 1px;

  .Q(@sm; {
    max-height: inherit;
  });

  &-item {
    float: none;
    display: block;
    margin: 0 0 12px 0;
  }

  &-link {
    color: @c-black;
    float: none;
    font-size: @f-size-base + 2;
    line-height: normal;
    padding: 0;
    text-decoration: none;

    &:hover {
      background: none;
      color: @c-text-blue;
    }

    span {
      display: inline-block;
      color: @c-text-blue;
      border-bottom: 1px solid @c-menu-dropdown-border;
      margin: 0 0 0 3px;
    }

    &:hover span {
      border-bottom: 1px solid transparent;
    }
  }
}

.category-text {
  display: table-footer-group; // Swap div position
}

.category-right {
  padding-top: 13px;

  .Q(@md; {
    display: table;
    padding-top: 0;
  });

  .filter-option {
    font-size: @f-size-base;
    text-align: center !important;
  }
}

.sorting-nav {
  .teaser-shadow;
  background-color: @c-head-bg;
  border-radius: @border-radius;
  clear: both;
  margin-bottom: 13px;
  overflow: visible;
  padding: 8px 16px 3px;
  white-space: nowrap;
  z-index: 1;

  &:last-child {
    margin: 0;
    position: relative;
    top: -9px;
  }

  &-select {
    margin: 0 0 10px;
    text-align: center;

    .Q(@sm; {
      display: inline;
      margin: 0 2px 0 0;
      text-align: inherit;
      width: 190px;
    });
  }

  &-label {
    display: block;
    margin: 0 0 10px;
    text-align: center;

    .Q(@sm; {
      display: inline;
      margin: 0 10px 0 0;
      position: relative;
      text-align: inherit;
      top: 1px;
    });
  }
}

.product-card {
  margin: 0 0 25px;
  position: relative;
  z-index: 1;

  .Q(- 500; {
    width: 100%;
  });

  &-text {
    .sub-plate;
    padding: 10px;
    position: relative;
    z-index: 2;

    .input-group {
      width: 90px;
    }
  }

  &-price {
    color: @c-text-blue;
    font-family: @font-family-base;
    font-size: @f-size-base + 2;
    height: 40px;
    line-height: 28px;
    margin: 0 0 2px 0;
  }

  &-articul {
    color: @c-text-muted;
    font-size: @font-size-base - 2;
  }

  .order {
    margin: 10px 0;
  }

  .dotted {
    border-bottom: 1px dotted;
    color: @c-black;
    cursor: pointer;
    text-decoration: none;
  }
}

.product-card-desc {
  .link-style;
  border-radius: 0;
  display: inline;
  height: auto;
  font-size: @f-size-base - 1;
  font-weight: normal;
  line-height: 1.4;
  padding: 0;

  &-wrapper {
    line-height: 18px;
    height: 71px;
    overflow: hidden;
    padding: 5px 0 0;
  }
}

.select.select-show {
  position: relative;
  top: 0;
  width: 60px;

  .bootstrap-select {
    width: 100% !important;
  }
}

.display-mode {
  .Q(@sm; {
    float: right;
    position: relative;
    top: 9px;
  });
}

.icon-mode-switch {
  .sprite(@i-view-tile);
  cursor: pointer;
  display: inline-block;
}

.icon-thumbs {
  &:hover {
    .sprite-position(@i-view-tile-hovered);
  }

  &.active {
    .sprite-position(@i-view-tile-active);
  }
}

.icon-list {
  .sprite(@i-view-list);

  &:hover {
    .sprite-position(@i-view-list-hovered);
  }

  &.active {
    .sprite-position(@i-view-list-active);
  }
}

.view-list-chars {
  display: none;
}

.Q(@sm; {
  .view-mode-list {
    .product-card {
      height: 180px;
      margin-bottom: 15px;
      width: 100%;

      &-text {
        height: 180px;
        overflow: hidden;
        padding: 15px 15px 0 15px;
      }

      .order {
        bottom: 3px;
        position: absolute;
        right: 15px;
        width: 200px;
      }
    }

    .articul {
      left: 15px;
      position: absolute;
      top: 65px;
    }

    .category-image-wrapper {
      float: left;
      margin-right: 10px;
      width: 180px;
    }

    .view-list-chars {
      bottom: 26px;
      display: block;
      font-size: @f-size-base - 2;
      position: absolute;
      width: 200px;

      &-item {
        margin-bottom: 6px;
      }

      &-left {
        display: inline-block;
        width: 101px;
      }
    }
  }
});

.btn {
  &-category-buy {
    height: 44px;
    float: right;
    font-size: @f-size-base + 3;
    padding: 6px 10px;
    margin-left: 5px;
  }

  &-load-more {
    margin: 5px auto 25px;
  }
}

// ================================================================
// TAGS
// ================================================================
.tags-list {
  .teaser-shadow;
  background: @c-light-grey-plate-bg;
  border-radius: @border-radius;
  margin: 0 0 10px;
  padding: 15px 15px 5px;

  .Q(500; {
    float: left;
    margin: 0 4% 10px 0;
    width: 48%;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  });

  .Q(@md; {
    float: none;
    margin: 0 0 10px;
    width: 100%;
  });

  &-title {
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    padding: 0 0 7px;
  }

  .fa {
    .transition;
    color: @c-grey-head-cart;
    float: right;
    position: relative;
    top: 3px;
    transform: rotate(180deg);
  }

  &-title.opened .fa {
    transform: rotate(0deg);
    top: 1px;
  }
}

.tags-btns {
  .btn-blue,
  .btn-pink {
    display: inline-block;
    font-size: @f-size-base + 1;
    line-height: inherit;
    min-height: inherit;
    padding: 6px 13px;
    vertical-align: top;
    width: 48%;

    .Q(@md; {
      padding: 6px 10px;
      width: auto;
    });

    .Q(@lg; {
      padding: 6px 13px;
    });
  }

  .btn-pink {
    float: right;
  }
}

// ================================================================
// FOR BOOTSTRAP-SELECT
// ================================================================
.bootstrap-select {
  .select & {
    position: relative;
    width: 240px !important; // to override lib styles

    &:after {
      color: @c-grey-head-cart;
      content: "\f078";
      font-family: @font-awesome;
      font-size: @font-size-base - 4;
      padding: 0 0 2px;
      pointer-events: none;
      position: absolute;
      right: 11px;
      top: 9px;
      z-index: 2;
    }

    &:before {
      content: "";
      display: block;
      font-size: @font-size-base - 4;
      height: 20px;
      pointer-events: none;
      position: absolute;
      right: 15px;
      width: 20px;
    }
  }

  .btn {
    .text-overflow;
    border-color: @c-grey-lightest;
    border-radius: 20px;
    height: 34px;
    padding: 0 7px;
    outline: none;
    text-shadow: none;

    &:focus {
      outline: none !important;
    }
  }

  .caret {
    display: none;
  }

  a {
    outline: none !important;

    &:hover {
      background-color: @c-sub-plate-bg !important;
    }
  }

  .dropdown-menu {
    border-radius: 15px;
    background-color: @c-white;
  }
}
