.contacts-department {
  width: 100%;
  height: 288px;
  background-color: @c-white;

  & .text {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 55px 0 0 40px;
    background-color: white;

    & ul.items {
      list-style: None;
      line-height: 19px;

      & li {
        margin-bottom: 15px;

        & .fa {
          padding-right: 12px;
        }

        & a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  & .map {
    display: inline-block;
    width: 54%;
    height: 288px;
  }

  &-details {
    margin-top: 20px;
  }
}
