@import "../common/variables";
@import "../common/utilities/mixins";

.page-front {
  margin: -20px 0 0;

  .Q(@sm; {
    margin: 0;
  });

  &-cell {
    margin: 0 auto;
    width: 290px;

    .Q(@sm; {
      width: auto;
    });

    .Q(@lg; {
      margin: 0 1% 0 0;
      width: 36%;
    });

    &.page-front-cell-01 {
      .Q(@md; {
        width: 26%;
      });
    }

    &.page-front-cell-03 {
      .Q(@md; {
        margin-right: 0;
      });
    }
  }

  &-news {
    text-align: justify;

    .Q(@lg; {
      background: url("@{img-path}/services-map.jpg") no-repeat center 0;
      min-height: 371px;
      padding: 67px 17px 0;
    });

    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }
}

.page-front-cells-wrapper {
  margin: 0 0 35px;

  .Q(@sm; {
    display: flex;
    flex-wrap: wrap;
  });
}

.page-front-news {
  &-item {
    color: @c-black-lighter-x;
    cursor: pointer;
    display: block;
    margin: 0 0 25px;
    text-align: center;
    text-decoration: none;

    .Q(@sm; {
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      vertical-align: top;
      width: 30%;
    });
  }

  &-img {
    border-radius: 100px;
    box-shadow: 4px 4px 0 fade(@c-black, 20%);
    background: @c-white;
    height: 156px;
    margin: 0 auto 21px;
    overflow: hidden;
    position: relative;
    width: 156px;
    z-index: 1;
  }

  &-title {
    .font-bold;
    font-size: @f-size-base + 2;
    margin-bottom: 21px;
    text-decoration: underline;
  }

  &-text {
    font-size: @f-size-base - 2;
    line-height: 120%;
    text-decoration: none;
  }

  &-img-inner {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.stuff-wrapper {
  .white-plate;
  margin: 0 0 10px;
  position: relative;

  &-01 {
    .Q(@md; {
      height: 356px;
    });
  }

  &-02,
  &-03 {
    .Q(@md; {
      height: 220px;
    });
  }
}

.stuff-title {
  background: @c-sub-plate-bg;
  color: @c-black-lighter-x;
  font-size: @f-size-base + 2;
  padding: 18px 14px 16px;

  .stuff-double & {
    .Q(@sm; {
      font-size: @f-size-base;
      padding: 10px 14px;
    });
  }

  &-link {
    .transition;
    .link-style;
    border-color: transparent;

    &:hover {
      color: @c-text-blue;
      border-bottom: 1px solid @c-grey-border;
    }
  }
}

.stuff-list {
  .white-plate;

  &-01 {
    padding: 15px 0 0 12px;
  }

  &-02,
  &-03 {
    padding: 10px 0 4px 12px;

    .stuff-item {
      .Q(@sm; {
        font-size: @f-size-base - 2;
        padding: 0 0 10px 19px;
      });
    }
  }
}

.stuff-img {
  display: block;
  position: relative;

  &-01 {
    height: 82%;
    padding: 10px 0 0;
  }

  &-02 {
    height: 68%;
    margin: 10px 0 0;
  }

  &-03 {
    height: 150px;

    .Q(@md; {
      height: 73%;
    });
  }
}

.stuff-item {
  font-size: @f-size-base - 1;
  padding: 0 0 15px 19px;

  &-double {
    .Q(@md; {
      font-size: @f-size-base - 4;
      padding: 0 0 8px 19px;
    });

    &-small {
      .Q(@md; {
        font-size: @f-size-base - 5;
        padding: 0 0 11px 19px;
      });

      .stuff-link:before {
        top: 2px;
      }
    }
  }
}

.stuff-link {
  .transition;
  .link-style;
  position: relative;

  &:before {
    .transition;
    background-color: @c-main-list-item;
    content: '';
    height: 9px;
    left: -19px;
    position: absolute;
    top: 4px;
    width: 9px;
  }

  &:hover:before {
    background-color: @c-text-red;
    color: @c-text-blue;
  }
}

.stuff-double {
  position: relative;

  .Q(@md; {
    float: left;
    margin-right: 3%;
    width: 48.5%;
  });

  &:last-of-type {
    margin-right: 0;
  }

  &-wrapper {
    .white-plate;
    margin-bottom: 10px;
    position: relative;

    .Q(@md; {
      height: 152px;
    });
  }

  &-list {
    .white-plate;
    padding: 10px 0 0 12px;

    .Q(@md; {
      min-height: 90px;
    });

    .stuff-item {
      &:before {
        height: 6px;
        left: 7px;
        top: 9px;
        width: 6px;
      }
    }
  }
}

.stuff-top {
  clear: both;
  position: relative;
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  &-title {
    font-size: @f-size-base + 12;
    margin-bottom: 22px;
  }

  &-item {
    margin: 0 auto 30px;
    max-width: 290px;
    position: relative;

    .Q(@xs; {
      display: inline-block;
      margin: 0 0 30px;
      max-width: inherit;
      vertical-align: top;
      width: 49%;
    });

    .Q(@sm; {
      width: 32%;
    });

    .Q(@md; {
      text-align: left;
      width: 19%;
    });
  }

  &-img {
    .white-plate;
    display: flex;
    height: 173px;
    margin-bottom: 5px;
    position: relative;
  }

  &-description {
    .sub-plate;
    font-size: @f-size-base - 2;
    height: 150px;
    padding: 5px 12px;
  }

  &-wrap {
    height: 64px;
    overflow: hidden;
  }

  &-name {
    .link-style;
    line-height: 130%;
  }

  &-category {
    color: @c-black-lighter-x;
    font-size: @f-size-base - 2;
    line-height: 130%;
    max-height: 45px;
    overflow: hidden;
    padding: 5px 0 15px;
  }

  &-price-new {
    color: @c-text-blue;
    font-size: @f-size-base + 4;
    margin-bottom: 3px;
  }
}

// ================================================================
// LIGHTS
// ================================================================
.featured-product {
  &-wrapper {
    .Q(@sm; {
      margin-bottom: 70px;
    });
  }

  &-item {
    margin: 0 auto;
    width: 290px;

    .Q(600; {
      float: left;
      width: 48%;
    });

    .Q(@sm; {
      width: 32%;
    });

    &:not(:last-child) {
      .Q(600; {
        margin: 0 2% 0 0;
      });
    }

    &-title {
      align-items: center;
      background: @c-sub-plate-bg;
      color: @c-black-lighter-x;
      display: flex;
      height: 70px;
      font-size: @f-size-base + 2;
      padding: 10px 15px;
      width: 100%;
    }

    &-link {
      .link-style;
      border-color: transparent;

      &:hover {
        border-bottom: 1px solid @c-grey-border;
        color: @c-text-blue;
      }
    }
  }

  &-img-wrapper {
    display: block;
    position: relative;

    .Q(@md; {
      height: 285px;
    });
  }
}
