// ================================================================
// PAGE ORDER
// ================================================================
.order {
  &-form {
    width: 100%;
  }

  &-info {
    margin: -31px auto 25px;
    padding: 0;
    position: relative;
    width: 100%;

    &-header {
      background: @c-order-table-header-bg;
      font-size: @f-size-base;
      font-weight: bold;
      height: 30px;
      margin: 20px 0;
      padding-top: 9px;
    }

    tr td {
      vertical-align: top;
      width: 49%;
      padding: 0 10px; // Remove after new year
    }

    .form-submit-wrapper {
      display: block;
      float: right;
      margin: 10px 0 0;
      width: 280px;
    }

    .btn {
      min-width: 220px;
    }
  }

  &-contain {
    .stock {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &-form-right {
    float: right;
    width: 40%;

    .control-label {
      padding-top: 14px;
    }

    .form-control {
      width: 220px;

      &:focus {
        border-color: darken(@input-border, 5%);
      }
    }

    label {
      cursor: pointer;
      font-weight: bold;
      padding-right: 10px;
      white-space: nowrap;
    }

    tr {
      display: block;
      margin-bottom: 10px;

      &:last-child(2n) {
        margin-bottom: 0;
      }
    }

    td:first-child {
      position: relative;
    }
  }

  &-contain .input-group {
    left: 23px;
    width: 84px;
  }
}

.table-required-icon {
  color: @c-btn-price-bg-active;
  left: -8px;
  position: absolute;
  top: 17px;
}

.order-list {
  margin-bottom: 50px;

  a {
    color: @c-order-link;
    text-decoration: none;
  }

  tr th {
    background-color: fadeout(@c-middle-head-bg, 50%);
    text-align: center;
  }

  tr td,
  tr th {
    border: 1px solid @c-table-header-bg !important;
    padding: 10px !important;
  }

  .btn-cart {
    cursor: pointer;
  }
}

.order-count {
  width: 13%;
}

div.info {
  text-align: center;
  width: 100%;
}

.order-form tr td input.btn-buy {
  color: @c-white;
  float: right;
  margin-right: 35px;
  width: 145px;
}

.payment-types-form {
  position: relative;

  label {
    cursor: pointer;
    line-height: 1.8;
    margin: 0 0 26px;
  }

  img {
    float: left;
    margin: 0 6px 0 0;
    width: 40px;
  }
}

.pr-chars {
  &-order {
    &-page {
      color: @c-grey-text-delivery;
      padding: 20px 0 0 10px;
      width: 616px;
    }
  }
}

.page-info-message {
  font-size: @f-size-base + 10;

  a {
    color: @c-btn-price-bg-active;
    text-decoration: underline;
  }
}
