@import "../common/variables";
@import "../common/utilities/mixins";

.order {
  &-form {
    width: 100%;
  }

  &-info {
    .Q(@md; { display: flex; });

    &-header {
      background: @c-basket-fill;
      font-size: @f-size-base + 2;
      margin: 0 0 30px;
      padding: 8px;
    }

    tr td {
      vertical-align: top;
      width: 49%;
    }

    .btn {
      min-width: 220px;
    }
  }

  &-contain {
    .stock {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &-form-right {
    label {
      cursor: pointer;
    }
  }

  &-contain .input-group {
    left: 23px;
    width: 84px;
  }
}

.order-submit-wrapper {
  text-align: center;

  .Q(@md; {
    text-align: right;
  });
}

.order-payment-types {
  margin: 0 0 30px;

  .Q(@md; {
    flex: 1;
    margin: 0;
  });
}

.order-user-info {
  margin: 0 0 30px;

  .Q(@md; {
    flex: 1;
    margin: 0;
  });
}

.table-required-icon {
  color: @c-text-red;
  left: -8px;
  top: 17px;
}

.order-list {
  margin-bottom: 50px;

  a {
    color: @c-text-grey-dark;
    text-decoration: none;
  }

  tr th {
    background-color: fadeout(@c-head-bg, 50%);
    text-align: center;
  }

  tr td,
  tr th {
    border: 1px solid @c-table-border !important;
    padding: 10px !important;
  }

  &-remove-item {
    .transition;
    cursor: pointer;

    &:hover {
      color: @c-text-red;
    }
  }
}

.order-count {
  width: 13%;
}

div.info {
  text-align: center;
  width: 100%;
}

.order-form tr td input.btn-buy {
  color: @c-white;
  float: right;
  margin-right: 35px;
  width: 145px;
}

.payment-types-form {
  position: relative;
}

.payment-types-form-item {
  line-height: 1.8;
  margin: 0 0 15px;

  label {
    cursor: pointer;
    width: 83%;

    .Q(@sm; {
      width: auto;
    });
  }

  img {
    float: left;
    margin: 0 6px 0 0;
    width: 40px;
  }
}

.pr-chars-order {
  &-page {
    color: @c-grey-lighten-text-delivery;
    padding: 20px 0 0 10px;
    width: 616px;
  }
}

.page-info-message {
  font-size: @f-size-base + 10;

  a {
    color: @c-text-red;
    text-decoration: underline;
  }
}

.div-table {
  .teaser-shadow;

  .Q(@sm; {
    display: table;
    width: 100%;
  });

  &-body {
    .Q(@sm; {
      display: table-row-group;
    });
  }

  &-heading {
    background: rgba(211, 217, 222, 0.3);
    font-weight: bold;
    text-align: center;

    .Q(@sm; {
      display: table-header-group;
    });
  }

  &-row {
    margin: 0 0 20px;

    .Q(@sm; {
      display: table-row;
      margin: 0;
    });
  }

  &-cell {
    background: @c-table-even-cell-bg;
    clear: both;
    position: relative;
  }
  
  &-row:nth-child(odd) .div-table-cell {
    background: @c-white;
  }

  &-cell,
  &-head {
    border-right: 1px solid @c-table-border;
    border-bottom: 1px solid @c-table-border;
    padding: 10px;

    .Q(@sm; {
      display: table-cell;
      vertical-align: middle;
    });

    &:last-child {
      border-right-color: transparent;
    }
  }

  &-footer {
    font-weight: bold;

    .Q(@sm; {
      display: table-footer-group;
    });
  }
}

.order-table-product {
  &-price {
    min-height: 65px;
  }

  &-id,
  &-price,
  &-count,
  &-photo {
    clear: none;
    float: left;
    width: 50%;

    .Q(@sm; {
      float: none;
      width: auto;
    });
  }
}

.order-table-sum {
  &-text {
    text-align: center;

    .Q(@sm; {
      text-align: right;
    });
  }

  &-cash,
  &-count {
    clear: none;
    float: left;
    width: 50%;

    .Q(@sm; {
      float: none;
      width: auto;
    });
  }
}

.order-th {
  &-code {
    .Q(@sm; {
      width: 7%;
    });
  }

  &-photo {
    .Q(@sm; {
      width: 7%;
    });
  }

  &-count {
    .Q(@md; {
      width: 14%;
    });
  }

  &-price {
    .Q(@sm; {
      width: 12%;
    });
  }

  &-remove {
    .Q(@sm; {
      width: 5%;
    });
  }
}
