{% load static %}

<div class="featured-product-wrapper clearfix">
  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' 'novogodnie-girliandy-207' %}">
            Новогодние гирлянды <b>от 101 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' 'novogodnie-girliandy-207' %}">
        <img src="{% static 'images/main/new-year-1.jpg' %}"
             class="img-responsive img-centered" alt="Новогодние гирлянды">
      </a>
    </div>
  </div>

  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' 'novogodnie-vrashchaiushchiesia-svetodiodnye-lampy-208' %}">
            Новогодние вращающиеся светодиодные лампы от <b>253 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' 'novogodnie-vrashchaiushchiesia-svetodiodnye-lampy-208' %}">
        <img src="{% static 'images/main/new-year-2.jpg' %}"
             class="img-responsive img-centered" alt="Новогодние вращающиеся светодиодные лампы">
      </a>
    </div>
  </div>

  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' 'novogodnie-lazernye-proektory-209' %}">
            Новогодние лазерные проекторы от <b>1515 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' 'novogodnie-lazernye-proektory-209' %}">
        <img src="{% static 'images/main/new-year-3.jpg' %}"
             class="img-responsive img-centered" alt="Новогодние лазерные проекторы">
      </a>
    </div>
  </div>
</div>
