{% load static %}

<div class="featured-product-wrapper clearfix">
  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' 'tiporazmer-aaa' %}">
            Аккумуляторы типоразмера ААА <b>от 51 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' 'tiporazmer-aaa' %}">
        <img src="{% static 'images/main/featured-1.jpg' %}"
             class="img-responsive img-centered" alt="Аккумуляторы типоразмера ААА">
      </a>
    </div>
  </div>

  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' slug='akkumuliatory-270' tags='li-ro_hbced' %}">
            Литий-полимерные аккумуляторы <b>от 152 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' slug='akkumuliatory-270' tags='li-ro' %}">
        <img src="{% static 'images/main/featured-2.jpg' %}"
             class="img-responsive img-centered" alt="Литий-полимерные аккумуляторы">
      </a>
    </div>
  </div>

  <div class="featured-product-item">
    <div class="stuff-wrapper">
      <div class="featured-product-item-title">
        <div>
          <a class="featured-product-item-link" href="{% url 'category' 'vneshnie-universalnye-akkumuliatory-287' %}">
            Универсальные внешние аккумуляторы <b>от 556 руб.</b>
          </a>
        </div>
      </div>
      <a class="featured-product-img-wrapper" href="{% url 'category' 'vneshnie-universalnye-akkumuliatory-287' %}">
        <img src="{% static 'images/main/featured-3.jpg' %}"
             class="img-responsive img-centered" alt="Универсальные внешние аккумуляторы">
      </a>
    </div>
  </div>
</div>
