{% extends 'layout/base.html' %}

{% load static %}

{% block content %}
  <div class="page-front">
    <p class="h1">Большой выбор аккумуляторов, батареек и блоков питания:</p>
    {% include 'index/featured.html' %}

    {# Tile on main page #}
    <h1>Интернет-магазин элементов питания "ShopElectro"</h1>
    {% include 'index/tile.html' %}

    {# Top 10 offers #}
    {% include 'layout/tile_products.html' %}

    {# Three news links #}
    {% include 'index/services.html' %}
    {% include 'layout/toggle_content.html' with content=page.display.seo_text %}
    {% include 'index/tile_about.html' %}
    {% include 'index/pitch.html' %}
  </div>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}
