{% extends 'layout/base.html' %}

{% load staticfiles %}

{% block content %}
  <div class="page-front">
    {# New Year stuff #}
    <h2 class="h1">Для украшения дома к Новому году</h2>
    {% include 'index/lights.html' %}

    {# Tile on main page #}
    <h1>Интернет-магазин элементов питания "ShopElectro"</h1>
    {% include 'index/tile.html' %}

    {# Top 10 offers #}
    {% include 'index/top_10.html' %}

    {# Three news links #}
    {% include 'index/services.html' %}
  </div>
{% endblock %}
