{% load staticfiles %}

<div id="new-year-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="{% url 'category' slug='novogodnie-girliandy' %}">
        <img src="{% static 'images/main/banner01.svg' %}" alt="Новогодние гирлянды">
      </a>
    </div>
    <div class="item">
      <a href="{% url 'category' slug='novogodnie-girliandy-domashnie-na-svetodiodakh' %}">
        <img src="{% static 'images/main/banner02.svg' %}" alt="Новогодние гирлянды домашние на светодиодах">
      </a>
    </div>
    <div class="item">
      <a href="{% url 'category' slug='novogodnie-girliandy-ulichnye-na-svetodiodakh' %}">
        <img src="{% static 'images/main/banner03.svg' %}" alt="Новогодние гирлянды уличные на светодиодах">
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#new-year-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#new-year-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
