<p class="stuff-top-title-text">Больше о ShopElectro</p>
<section class="pitch">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-s-12 col-md-6 text-col">
        <p class="h3">Мы:</p>
        <p>
          – собрали в каталоге элементы питания и товары из смежной области — преобразователи,
          беспроводные MP3-колонки, зарядные устройства, светодиодные вращающиеся лампы (они тоже работают от батареек)
          и другую продукцию;
        </p>
        <p>
          – организовали сервис по ремонту и пайке аккумуляторов и ЭП из ваших или наших комплектующих —
          мы работаем с никелевой лентой, контактной сваркой, делаем сборку в корпус по выгодным ценам;
        </p>
          – создали условия для комфортных и выгодных покупок партиями любого объема —
          для одного аккумулятора индивидуально рассчитаем стоимость доставки по габаритам и весу,
          для заказа оптом предложим скидки, даже если товары в нем разнородны.
        </p>
      </div>
      <div class="col-s-12 col-md-6 text-col">
        <p class="h3">Что нас отличает</p>
        <p>
          Цель работы «ShopElectro» — обеспечить покупателей всем, что касается элементов автономного энергообеспечения
          и товаров, работающих с их помощью. Вам нужно отремонтировать, сделать под заказ БП,
          купить новые батарейки или электротовары — поможем.
        </p>
        <p class="bullshit-large">Комплексность — фундамент нашего подхода.</p>
        <p>
          Выбирая нас, вы начинаете сотрудничество со специалистами в области элементов питания и техники,
          работающей с их помощью. Позвоните или воспользуйтесь формой обратной связи,
          и мы подробно расскажем обо всех предложениях.
        </p>
      </div>
    </div>
  </div>
</section>
