{% load staticfiles %}
<div class="page-front-news">
  <div class="page-front-news-item" onclick="location.href='{% url 'pages:navigation' 'delivery' %}#russia'">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-01.jpg' %}" class="page-front-news-img-inner"
           alt="Доставка по всей России">
    </div>
    <div class="page-front-news-title">Доставка по всей России</div>
    <div class="page-front-news-text">
      Доставка товаров по всей России курьером, почтой, транспортной компанией
    </div>
  </div>
  <div class="page-front-news-item" onclick="location.href='{% url 'pages:navigation' 'soldering' %}'">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-02.jpg' %}" class="page-front-news-img-inner" alt="Пайка на заказ">
    </div>
    <div class="page-front-news-title">Аккумуляторные сборки</div>
    <div class="page-front-news-text">
      Предлагаем услуги пайки на заказ: изготовим батарею или аккумулятор нестандартной формы с заданными
      характеристиками
    </div>
  </div>
  <div class="page-front-news-item" onclick="location.href='{% url 'pages:navigation' 'remont-akkumulyatorov' %}'">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-03.jpg' %}" class="page-front-news-img-inner"
           alt="Ремонт аккумуляторов">
    </div>
    <div class="page-front-news-title">Ремонт аккумуляторов</div>
    <div class="page-front-news-text">
      Ремонтируем аккумуляторы для раций, шуруповертов, видеокамер, пылесосов и т.д. за 3 дня.
      Даем гарантию на 4 месяца
    </div>
  </div>
</div>