{% load staticfiles %}
<div class="page-front-news">
  <a href="{% url 'pages:flat_page' 'delivery' %}" class="page-front-news-item">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-01.jpg' %}" class="page-front-news-img-inner"
           alt="Доставка по всей России">
    </div>
    <div class="page-front-news-title">Доставка по всей России</div>
    <div class="page-front-news-text">
      Доставка товаров по всей России курьером, почтой, транспортной компанией.
      Доставка во все города и уголки страны
    </div>
  </a>

  <a href="{% url 'pages:flat_page' 'soldering' %}" class="page-front-news-item">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-02.jpg' %}" class="page-front-news-img-inner" alt="Пайка на заказ">
    </div>
    <div class="page-front-news-title">Аккумуляторные сборки</div>
    <div class="page-front-news-text">
      Предлагаем услуги пайки на заказ: изготовим батарею или аккумулятор нестандартной формы с заданными
      характеристиками
    </div>
  </a>

  <a href="{% url 'pages:flat_page' 'remont-akkumulyatorov' %}" class="page-front-news-item">
    <div class="page-front-news-img">
      <img src="{% static 'images/services-03.jpg' %}" class="page-front-news-img-inner"
           alt="Ремонт аккумуляторов">
    </div>
    <div class="page-front-news-title">Ремонт аккумуляторов</div>
    <div class="page-front-news-text">
      Политика обмена и возврата товара. Обмен и возврат.
      Если купленная в магазине вещь вам не подошла, ее можно обменять или вернуть
    </div>
  </a>
</div>
