{% load images %}
{% load se_extras %}
{% load staticfiles %}
{% load thumbnail %}

<div  itemscope itemtype="http://schema.org/Product" class="stuff-top">
  <p class="stuff-top-title text-center">ТОП 10 ТОВАРОВ</p>

  {% for product in top_products %}
    <div class="stuff-top-item">
      <a href="{{ product.url }}" class="stuff-top-img js-browse-product teaser-shadow" itemprop="url">
        {% include 'index/product_thumbnail.html' with product=product dimensions='x174' only %}
      </a>

      <div class="stuff-top-description">
        <div class="stuff-top-wrap">
          <a class="stuff-top-name js-browse-product"
             href="{% url 'product' product.id %}" itemprop="name">
            {{ product.name }}
          </a>
        </div>
        <div class="stuff-top-category">{{ product.get_root_category }}</div>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="stuff-top-price-new">
          <link itemprop="availability" href="http://schema.org/InStock">
          <meta itemprop="description" content="{{ product.page.description }}">
          <meta itemprop="priceCurrency" content="RUB" />
          <span itemprop="price">{{ product.price|humanize_price }}</span> руб
        </div>
      </div>
    </div>
  {% endfor %}
</div>
