@import "../common/variables";
@import "../common/utilities/mixins";

.btn {
  .transition;
  .text-shadow;
  box-shadow: 0 1px 2px fadeout(@c-block-link-shadow, 75%);
  cursor: pointer;
  font-family: @proxima-light, sans-serif;
  text-decoration: none;
}

.btn-grey {
  background: @c-btn-grey-bg;
  border: 1px solid @c-btn-grey-border;
  color: @c-white;
  font-size: @f-size-base + 4;
  padding: 5px;

  &:hover {
    background: @c-btn-grey-bg-hovered;
    border-color: @c-btn-grey-border-hovered;
    color: @c-white;
  }

  &:focus,
  &:active,
  &:active:focus {
    box-shadow: none;
    background: @c-btn-green-bg;
    border-color: @c-btn-green-border;
    color: @c-white;
    outline: none;
  }
}

.btn-scroll-to-top {
  .transition;
  background: @c-white;
  border-radius: 50%;
  bottom: 60px;
  box-shadow: 0 0 0 2px @c-white;
  color: @c-btn-to-top;
  cursor: pointer;
  height: 42px;
  font-size: @f-size-base + 34;
  opacity: 0;
  position: fixed;
  right: 5px;
  z-index: 10;
  width: 43px;

  .Q(@sm; {
    bottom: 130px;
  });

  &:hover,
  &:focus {
    color: @c-btn-to-top-hovered;
  }

  &.active {
    opacity: 1;
  }

  .fa {
    position: relative;
    top: -11px;
  }
}

.btn-blue {
  background: @c-btn-blue-bg;
  border: 1px solid @c-btn-blue-border;
  color: @c-white;
  font-size: @f-size-base + 5;
  outline: none;
  padding: 6px 20px;

  &:hover,
  &:focus {
    background: @c-btn-blue-bg-hovered;
    border-color: @c-btn-blue-border-hovered;
    color: @c-white;
  }

  &:active {
    background: @c-white;
    border-color: @c-btn-blue-border;
    box-shadow: none;
    color: @c-btn-blue-bg;
  }

  &:disabled,
  &:disabled:hover {
    background: @c-btn-disabled;
    border-color: @c-btn-disabled;
    color: @c-white;
  }
}

.btn-feedback {
  border-bottom: 1px dotted;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: transparent;
  }
}

.btn-pink {
  background-color: @c-btn-red-bg;
  border: 1px solid @c-btn-red-border;
  color: @c-white;
  font-size: @f-size-base + 4;
  font-weight: 400;
  min-height: 37px;
  padding: 4px 12px 5px;

  &:hover {
    background: @c-btn-red-bg-hover;
    border-color: @c-btn-red-border-hover;
    color: @c-white;
  }

  &:focus,
  &:active,
  &:active:focus {
    box-shadow: none;
    background: @c-white;
    border-color: @c-text-red;
    color: @c-text-red;
    outline: none;
    text-shadow: none;
  }
}

.btn-search {
  height: 32px;
  font-family: @font-awesome;
  font-size: @f-size-base - 2;
  left: -20px;
  padding: 0;
  position: relative;
  width: 36px;
}
