// ================================================================
// VARIABLES
// ================================================================
@input-height: 40px;
@logo-width: 190px;
@border-radius: 2px;

// Images path:
@img-path: "../images";
@sprite-main: url("@{img-path}/sprite-main.png");

// Mediaqueries:
@xs: 480;
@sm: 768;
@md: 992;
@lg: 1200;

// Colors:
@c-basket-fill: #f5f5f5;
@c-black: #000000;
@c-black-lighter: #161616;
@c-black-lighter-x: #171717;
@c-block-link-hover: #f0f4f7;
@c-block-link-shadow: #232D32;
@c-blue-dark: #083959;
@c-blue-darkest: #072d46;
@c-body-bg: #e5eaee;
@c-checkbox-bg: #dddddd;
@c-checkbox-border: #bbbbbb;
@c-grey-body-main: #e5eaee;
@c-grey-body-main-lighten: #cbd2d8;
@c-grey-border: #cecece;
@c-grey-head-cart: #606163;
@c-grey-lightest: #999999;
@c-grey-lighten-text-delivery: #474d52;
@c-grey-underline: #cacfd2;
@c-input-radio-inner: #073755;
@c-input-radio-border: #8f99A3;
@c-light-grey-plate-bg: #f6f8f9;
@c-menu-dropdown-border: #9da9b5;

// Text colors
@c-text-blue: #1d5d87;
@c-text-grey-dark: #262626;
@c-text-grey-light: #8F99A3;
@c-text-muted: #8f9aa4;
@c-text-red: #f94451;

// Button colors
@c-btn-blue-bg: #2b6988;
@c-btn-blue-bg-hovered: #347fb2;
@c-btn-blue-border: @c-btn-blue-bg;
@c-btn-blue-border-hovered: @c-btn-blue-bg-hovered;

@c-btn-disabled: #cecece;

@c-btn-green-bg: #6dc577;
@c-btn-green-border: @c-btn-green-bg;
@c-btn-grey-bg: #8f99a3;
@c-btn-grey-bg-hovered: #bbbfc3;
@c-btn-grey-border: @c-btn-grey-bg;
@c-btn-grey-border-hovered: @c-btn-grey-bg-hovered;

@c-btn-red-bg: #f94451;
@c-btn-red-bg-hover: #ff717b;
@c-btn-red-border: @c-btn-red-bg;
@c-btn-red-border-hover: @c-btn-red-bg-hover;

@c-btn-to-top: #2b6988;
@c-btn-to-top-hovered: #1d5d87;
@c-btn-touchspin-bg: #8e9aa4;
@c-btn-touchspin-border: @c-btn-touchspin-bg;
@c-btn-touchspin-minus-bg: #6dc578;
@c-btn-touchspin-plus-bg: #f94351;

// Mobile colors
@c-mobile-cart-bg: #4a91b5;
@c-mobile-catalog-bg: #4a91b5;
@c-mobile-header-bg: #4a91b5;

// Header colors
@c-head-bg: #d3d9de;
@c-head-nav-link-border: #aaafb3;
@c-head-menu-bg: #2b6988;
@c-head-menu-bg-hover: darken(@c-head-menu-bg, 5%);
@c-phone-code: #626262;

// Footer colors
@c-footer-link: #C9D2D7;
@c-footer-light-border: #395F76;
@c-price-border: #f69a9f;

// Index page colors
@c-main-list-item: #9aa4aC;

// Inner page colors
@c-accordion-link-bg: #fafafa;
@c-accordion-link-bg-hovered: #f5f5f5;
@c-article-img-border: #cbd1d7;
@c-article-img-shadow: #bec3c6;

// Other colors
@c-price-border-color: #dddddd;

@c-search-area: #616161;
@c-stock-in: #54bf5f;
@c-stock-out: #ffd180;
@c-stuff-link-border: #BEC3C8;
@c-sub-plate-bg: #f0f4f7;
@c-subway-red-station: #e50100;
@c-subway-green-station: #049f5c;

@c-table-border: #dddddd;
@c-table-even-cell-bg: #f9fafb;
@c-tooltip: #8F9AA4;
@c-tooltip-hovered: #1D5D87;
@c-tooltip-hovered-link: #083856;

@c-white: #fff;

// Fonts:
@font-awesome: "FontAwesome";
@f-size-base: 16px;
@font-size-base: 16px;
@font-family-base: "proxima_nova_rgregular", sans-serif;
@proxima: "proxima_nova_rgregular";
@proxima-light: "proxima_nova_ltlight";

// Bootstrap variables override:
@body-bg: #e5eaee;
@border-radius-large: 2px;
@breadcrumb-separator: '→';
@btn-border-radius-base: 2px;
@input-bg: #f9fafb;
@input-border: #cecece;
@input-border-radius: 3px;
@input-color: @c-text-grey-dark;
@input-height-base: @input-height;
@modal-inner-padding: 25px 15px 15px;
@modal-header-border-color: #1d5d87;
@navbar-height: 20px;
@navbar-default-bg: transparent;
@navbar-default-border: transparent;
@navbar-default-toggle-border-color: transparent;
@navbar-inverse-border: transparent;
@table-cell-padding: 5px; // Padding for `<th>`s and `<td>`s.
@text-color: @c-text-grey-dark;

// Bootstrap-select:
@color-grey-arrow: fade(#ccc, 20%);
@color-red-error: #b94a48;
@height-product-block-mob: 300px;
@height-product-block-pc: 440px;
@width-default: 220px; // 3 960px-grid columns
@zindex-select-dropdown: 1035; // must be lower than a modal background (1040) but higher than the fixed navbar (1030)
