{% extends 'admin/change_form.html' %}
{% load staticfiles %}
{% load se_extras %}
{% load se_admin_extras %}

{% block extrastyle %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin.min.css' %}">
{% endblock %}

{% block object-tools %}
  {{ block.super }}
  {% if original|upload_form %}
    {% include 'admin/upload_form.html' %}
  {% endif %}
{% endblock %}

{% block field_sets %}
  {% if original|upload_form %}
    {% entity_images original %}
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block footer %}
  {{ block.super }}

  <script src="{% static 'js/vendors.min.js' %}"></script>
  <script src="{% static 'js/main.min.js' %}"></script>
  <script src="{% static 'js/admin.min.js' %}"></script>
{% endblock %}
