{% extends 'admin/change_list.html' %}
{% load staticfiles %}

{% block extrastyle %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/admin.min.css" %}">
{% endblock %}

{% block result_list %}
  {% block pagination %}{{ block.super }}{% endblock %}
  {{ block.super }}
{% endblock %}

{% block footer %}
  {{ block.super }}

  <script src="{% static "js/vendors.min.js" %}"></script>
  <script src="{% static "js/admin.min.js" %}"></script>
{% endblock %}
