{% load admin_urls %}

<aside class="sidebar">
  <div class="sidebar-tree" id="js-tree"></div>
  <ul class="sidebar-links list-unstyled" id="sidebar-links">
    <li class="sidebar-links-item sidebar-search-field">
      <form action="{% url 'ya_feedback_request' %}" method="POST" class="form-inline">
        <div class="form-group">
          <input type="email" class="form-control" id="user-email" name="email" placeholder="email клиента для отзыва" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </li>

    <li class="sidebar-links-item">
      <a href="{% url 'custom_admin:editor' %}" class="sidebar-link" id="admin-editor-link">Табличный редактор</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{% url 'custom_admin:shopelectro_categorypage_changelist' %}" class="sidebar-link"
         id="admin-categories-link">Категории</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{% url 'custom_admin:shopelectro_productpage_changelist' %}" class="sidebar-link"
         id="admin-products-link">Продукты</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{% url 'custom_admin:pages_flatpage_changelist' %}" class="sidebar-link" id="admin-pages-link">Страницы</a>
    </li>
    <li class="sidebar-links-item">
      <a href="{% url 'custom_admin:pages_custompage_changelist' %}" class="sidebar-link" id="admin-pages-link">Уникальные страницы</a>
    </li>
  </ul>

  <a href="#" id="link-to-go"></a>
</aside>
