{% load static %}
{% load se_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body style="font-family: arial, sans-serif; margin: 0; width: 100%;">
    <div style="width:100% ;margin-bottom:35px;">
      <span style="float: right; font-size: 16px; color: #767a7b;">
        <small style="position:relative; top:-.2em;">(812)</small>
        <span style="color:#CC0000; font-size:25px;" class="ya-opt-phone">
          <a href="tel:+78124163200">416-32-00</a>
        </span>
      </span>

      <a href="https://www.shopelectro.ru/" target="_blank"
         style="color:#CC0000; font-size:25px; font-family: arial, sans-serif;
                font-weight: bold; text-decoration: none;">
        ShopElectro
      </a>
      <div style="width: 100%; background-color: rgb(215, 215, 215); height:1px;"></div>
    </div>
    <div style="font-size: 1.077em; line-height: 1.43; margin:35px 0;">
      <p style="margin:0 0 1.15em; font-family: arial, sans-serif;">
        {% if order.name %}
          {{ order.name }}, заказ
        {% else %}
          Заказ
        {% endif %}
           на сумму {{ order.total_price|humanize_price }} руб. принят.
        В течение 30 минут позвонит менеджер и обсудит доставку.
      </p>

      <p>Номер заказа: <strong>{{ order.fake_order_number }}</strong></p>

      <table width="100%" cellspacing="0" cellpadding="3px" border="0">
        <tbody>
          <tr>
            <td width="5%" align="left" style="border-bottom: 1px solid #E4E4E4;
                padding: 10px; font-weight:bold;">Артикул</td>
            <td width="65%" align="left" style="border-bottom: 1px solid #E4E4E4;
                padding: 10px; font-weight:bold;">Наименование</td>
            <td width="10%" align="right" style="border-bottom: 1px solid #E4E4E4;
                padding: 10px; font-weight:bold;">Кол-во</td>
            <td width="10%" align="right" style="border-bottom: 1px solid #E4E4E4;
                padding: 10px; font-weight:bold;">Цена</td>
            <td width="10%" align="right" style="border-bottom: 1px solid #E4E4E4;
                padding: 10px; font-weight:bold;">Сумма</td>
          </tr>

          {% for position in order.items %}
            <tr>
              <td align="left" style="border-bottom: 1px solid #E4E4E4; padding: 10px;">
                {{ position.product_id }}
              </td>
              <td align="left" style="border-bottom: 1px solid #E4E4E4; padding: 10px;">
                <a href="{% full_url 'product' position.product_id %}">
                  {{ position.name }}
                </a>
              </td>
              <td align="right" style="border-bottom: 1px solid #E4E4E4; padding: 10px;">
                {{ position.quantity }} шт.
              </td>
              <td align="right" style="border-bottom: 1px solid #E4E4E4; padding: 10px;">
                {{ position.price|humanize_price }} руб.
              </td>
              <td align="right" style="border-bottom: 1px solid #E4E4E4; padding: 10px;">
                {{ position.total_price|humanize_price }} руб.
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="2" style="padding:5px 10px;">&nbsp;</td>
            <td align="right" colspan="2" style="padding: 10px; font-weight: bold;">Итого:</td>
            <td align="right" style="padding:5px 10px;">{{ order.total_price|humanize_price }} руб.</td>
          </tr>
        </tbody>
      </table>

      <p style="border-top: 1px solid #E4E4E4;"></p>

      <ul style="padding: 0; list-style: none;">
        <li style="margin: 0 0 1em;">Тип платежа:
          <strong style="font-weight:bold;"> {{ order.payment_type_name }}</strong>
        </li>
        <li style="margin: 0 0 1em;">Телефон:
          <strong style="font-weight:bold;"> {{ order.phone }}</strong>
        </li>
        <li style="margin: 0 0 1em;">Email:
          <strong style="font-weight:bold;"> {{ order.email }}</strong>
        </li>
        <li style="margin: 0 0 1em;">Город:
          <strong style="font-weight:bold;"> {{ order.city|default:'Санкт-Петербург' }}</strong>
        </li>
        {% if order.address %}
          <li style="margin: 0 0 1em;">Адрес, комментарий:
            <strong style="font-weight:bold;"> {{ order.address }}</strong>
          </li>
        {% endif %}
      </ul>

      <p style="border-top: 1px solid #E4E4E4; border-bottom: 1px solid #E4E4E4;
        padding: 15px 0; font-size: 18px;">
        Адреса магазинов: СПб, пр-т Елизарова, 38А, 3 этаж, офис 312;
        ул. Маршала Казакова, 35, ярмарка «Юнона», пав. №660, 662
      </p>

      {% block se_info %}{% endblock %}
    </div>
  </body>
</html>
