{% load static %}
{% load widget_tweaks %}
{% load se_extras %}
{% load pages_extras %}

{% if cart|length %}
  <h1>Оформление заказа</h1>

  <div id="js-order-list" class="div-table order-list">
    <div class="hidden-xs div-table-heading">
      <div class="div-table-head order-th-code">Код</div>
      <div class="div-table-head order-th-photo">Фото</div>
      <div class="div-table-head order-th-product">Наименование</div>
      <div class="div-table-head order-th-count">Количество</div>
      <div class="div-table-head order-th-price">Цена</div>
      <div class="hidden-xs div-table-head order-table-remove"></div>
    </div>

    <div class="div-table-body">
      {% for id, position in cart %}
        <div class="div-table-row" data-table-id="{{ id }}">
          <div class="div-table-cell order-table-product-id">{{ id }}</div>
          <div class="div-table-cell order-table-product-photo text-center">
            {% if 'logo' in position.image %} {# position has no image #}
              <img src="{% static 'images/camera-icon.png' %}" alt="{% get_img_alt position %}">
            {% else %}
              <a class="fancybox" rel="product-cart-gallery" href="{{ position.image }}"
                 title="{{ position.name }}">
                <img src="{% static 'images/camera-icon-clr.png' %}" alt="{% get_img_alt position %}">
              </a>
            {% endif %}
          </div>
          <div class="div-table-cell">
            <a class="js-product-link" href="{{ position.url }}">{{ position.name }}</a>
          </div>
          <div class="div-table-cell order-table-product-count">
            <div class="stock">
              {% if position.in_stock > 0 %}
                <i class="fa fa-circle in-stock" title="В наличии"></i>
              {% else %}
                <i class="fa fa-circle out-stock" title="Под заказ"></i>
              {% endif %}
            </div>
            <input class="prod-count input-number js-prod-count js-touchspin"
                   value="{{ position.quantity }}" type="number"
                   name="prod-count" productId="{{ id }}">
          </div>
          <div class="div-table-cell order-table-product-price text-center js-product-price"
               productId="{{ id }}">
            {{ position.price|humanize_price }} руб.
          </div>
          <div class="div-table-cell text-center">
            <div class="order-list-remove-item js-remove" productId="{{ id }}" title="Убрать из заказа">
              <i class="fa fa-close"></i>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="div-table-footer">
      <div class="hidden-xs div-table-cell"></div>
      <div class="hidden-xs div-table-cell"></div>
      <div class="div-table-cell order-table-sum-text">
        <strong>Итого:</strong>
      </div>
      <div class="div-table-cell order-table-sum-count text-center">
        <strong id="cart-page-prods-count">{{ cart.total_quantity }} шт.</strong>
      </div>
      <div class="div-table-cell order-table-sum-cash text-center">
        <strong id="cart-page-sum">{{ cart.total_price|humanize_price }} руб.</strong>
      </div>
      <div class="hidden-xs div-table-cell"></div>
    </div>
  </div>

  <form class="order-form" id="order-form-full" method="post">
    {% csrf_token %}
    <div class="order-info">
      <div class="order-payment-types">
        <div class="order-info-header text-center">СПОСОБЫ ОПЛАТЫ</div>
        <div class="payment-types-form">
          {% include 'ecommerce/order/payment_types.html' %}
        </div>
      </div>

      <div class="order-user-info">
        <div class="order-info-header text-center">ФОРМА ЗАКАЗА</div>
        <p class="error-msg hidden js-form-error-text">Введите ваш телефон и почтовый адрес</p>

        <div class="order-form-right form-horizontal">
          <div class="form-group">
            <label class="col-sm-5 control-label" for="{{ form.name.id_for_label }}">Ваше имя:</label>
            <div class="col-sm-7">{{ form.name }}</div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="{{ form.phone.id_for_label }}">
              Контактный телефон: <strong class="table-required-icon">*</strong>
            </label>
            <div class="col-sm-7">
              {{ form.phone.errors }}
              {{ form.phone|add_class:'js-masked-phone' }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="{{ form.email.id_for_label }}">
              Электронная почта: <strong class="table-required-icon">*</strong>
            </label>
            <div class="col-sm-7">
              {{ form.email.errors }}
              {{ form.email }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="{{ form.city.id_for_label }}">Город:</label>
            <div class="col-sm-7">
              {{ form.city }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label" for="{{ form.address.id_for_label }}">Адрес, Комментарий:</label>
            <div class="col-sm-7">
              {{ form.address }}
            </div>
          </div>

          <div class="order-submit-wrapper">
            <button id="submit-order" class="btn btn-pink" type="submit">
              Продолжить
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="hidden" id="yandex-form-wrapper"></div>
{% else %}
  <h1>Корзина пуста</h1>
  <span class="page-info-message">В вашей корзине пока нет товаров.
    <a href="{% custom_url 'catalog' %}">Перейти к каталогу</a>
  </span>
{% endif %}
