{% extends 'layout/base.html' %}
{% load mptt_tags %}
{% load staticfiles %}
{% load pages_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages.min.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container m-content">
      <div class="message-404">
        <img alt="Запрашиваемая страница не найдена" src="{% static 'images/404.png' %}">
        <h3 id="page-not-found">Запрашиваемая страница не найдена</h3>
        <button id="return-main" type="button" class="btn btn-primary">
          <a class="main-link" href="{% custom_url '' %}">Вернуться на главную</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
