{% extends 'layout/inner_page.html' %}

{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="container m-content">
      <div class="message-404">
        <img alt="Запрашиваемая страница не найдена" src="{% static 'images/404.png' %}">

        <h3 class="not-found-text">Запрашиваемая страница не найдена</h3>

        <button type="button" class="btn btn-blue">
          <a class="main-link" href="/">Вернуться на главную</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
