{% extends 'layout/inner_page.html' %}

{% load pages_extras %}
{% load se_extras %}

{% block content %}

<div class="row">
  <div class="col-sm-3 p-article-sidebar">
      <div class="accordion js-accordion">

    <div class="accordion-title js-accordion-title" id="js-accordion-title-3490">
      Контакты, реквизиты, услуги<i class="fa fa-caret-left"></i>
    </div>
    <div class="accordion-content js-accordion-content" id="js-accordion-content-3490" style="height: 338px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px; display: none;">
      <p class="accordion-first-item">
        <a class="accordion-link-to-category" href="/pages/navigation/">
          перейти в категорию <i class="fa fa-long-arrow-right"></i>
        </a>
      </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/about/">
            О компании
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/return-goods-instr/">
            Обмен и возврат товара
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/rekvisity/">
            Реквизиты
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/delivery/">
            Доставка
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/contacts/">
            Контакты и адреса
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/pay/">
            Способы оплаты
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/soldering/">
            Аккумуляторные сборки
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/navigation/remont-akkumulyatorov/">
            Ремонт аккумуляторов
          </a>
        </p>

    </div>

    <div class="accordion-title js-accordion-title" id="js-accordion-title-3489">
      Статьи<i class="fa fa-caret-left"></i>
    </div>
    <div class="accordion-content js-accordion-content" id="js-accordion-content-3489" style="height: 352px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px; display: none;">
      <p class="accordion-first-item">
        <a class="accordion-link-to-category" href="/pages/articles/">
          перейти в категорию <i class="fa fa-long-arrow-right"></i>
        </a>
      </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/articles/akkumuliators-usage/">
            Как использовать аккумулятор, чтобы он служил долго? Как от типа устройства зависит тип аккумулятора? Особенности эксплуатации аккумуляторов.
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/articles/akkumuliators-types/">
            Какие типы аккумуляторов бывают, чем они отличаются? Какой тип аккумуляторов выбрать? Особенности и описание различных типов аккумуляторов.
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/articles/wholesale/">
            Условия для оптовых покупателей
          </a>
        </p>

        <p class="accordion-item">
          <a class="accordion-link" href="/pages/articles/akkumuliator-dlia-elektronnoi-sigarety/">
            Аккумулятор для электронной сигареты
          </a>
        </p>

    </div>

</div>

    </div>


<div class="col-sm-9 right-col">
<div itemscope itemtype="http://schema.org/ElectronicsStore">
	<span itemprop="logo" class="hide">
		<a href="/" class="header-logo"><img src="/static/images/logo.png"></a>
	</span>

<h2 style="margin-top: 50px;">В Санкт-Петербурге</h2>
  <div itemprop="department">
    <h3 style="margin-top:40px;" id="elizarova">ДЦ "Елизаровский"</h3>
    <span itemprop="name" class="hide">ShopElectro Елизаровский</span>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress" class="hide">пр. Елизарова 38А, офис 312</span>
      <span itemprop="postalCode" class="hide">192148</span>
      <span itemprop="addressLocality" class="hide">Санкт-Петербург</span>
      <span itemprop="email" class="hide">info@shopelectro.ru</span>
      <span itemprop="telephone" class="hide">+7 812 416-32-00</span>
    </div>

    <div class="contacts-department">
      <div class="text">
        <ul class="items">
          <li><i class="fa fa-phone"></i>+7 (812) 416-32-00</li>
          <li><a href="mailto:info@shopelectro.ru">
            <i class="fa fa-envelope"></i>info@shopelectro.ru
          </a></li>
          <li><i class="fa fa-map-marker"></i>192148, г. Санкт-Петербург <br>пр. Елизарова 38А<br> офис 312</li>
          <li><i class="fa fa-calendar"></i>ПН-ЧТ с 10:00 до 18:00 <br>ПТ с 10:00 до 17:00</li>
        </ul>
      </div>
      <div class="map">
        <script charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=uHnZXURYLxFOwRdU-GJ1kqHWoLaRIwyX&width=100%&height=288&lang=ru_RU&sourceType=constructor"></script>
      </div>
    </div>
  </div>

  <div itemprop="department">
    <h3 style="margin-top:40px;" id="yunona">Пункт выдачи БК "Юнона"</h3>
    <span itemprop="name" class="hide">ShopElectro Юнона</span>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress" class="hide">ул. Маршала Казакова, д. 35, БК "Юнона", павильоны №660, 662</span>
      <span itemprop="postalCode" class="hide">198332</span>
      <span itemprop="addressLocality" class="hide">Санкт-Петербург</span>
      <span itemprop="email" class="hide">info@shopelectro.ru</span>
      <span itemprop="telephone" class="hide">+7 812 416-32-00</span>
    </div>

    <div class="contacts-department">
      <div class="text">
        <ul class="items">
          <li><i class="fa fa-phone"></i>+7 (812) 416-32-00</li>
          <li><a href="mailto:info@shopelectro.ru">
            <i class="fa fa-envelope"></i>info@shopelectro.ru
          </a></li>
          <li><i class="fa fa-map-marker"></i>198332, г. Санкт-Петербург, <br>ул. Маршала Казакова, д. 35, <br>павильоны № 660, 662</li>
          <li><i class="fa fa-calendar"></i>ПН-ЧТ с 10:00 до 18:00 <br>ПТ с 10:00 до 17:00</li>
        </ul>
      </div>
      <div class="map">
        <script charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=UGFfDAGiY931LPgHn0w72ASNTWLkYw39&width=100%&height=288"></script>
      </div>
    </div>
    <p class="contacts-department-details">
      По ценам сайта выдаются только ранее оплаченные заказы.<br>
      Без этого цены и ассортимент будут отличаться.
    </p>
  </div>

<h2 style="margin-top: 50px;">В Москве</h2>
  <div itemprop="department">
  	<h3 id="moscow">Центр обработки заявок и звонков</h3>
    <span itemprop="name" class="hide">ShopElectro Савеловский</span>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress" class="hide">27018, г. Москва, ул. Сущёвский Вал, д. 5, строение 20, павильон 2Е88</span>
      <span itemprop="postalCode" class="hide">27018</span>
      <span itemprop="addressLocality" class="hide">Москва</span>
      <span itemprop="email" class="hide">info@shopelectro.ru</span>
      <span itemprop="telephone" class="hide">+7 499 647-61-49</span>
    </div>

    <div class="contacts-department">
      <div class="text">
        <ul class="items">
          <li><i class="fa fa-phone"></i>+7 (499) 647-61-49</li>
          <li><a href="mailto:info@shopelectro.ru">
            <i class="fa fa-envelope"></i>info@shopelectro.ru
          </a></li>
          <li><i class="fa fa-map-marker"></i>27018, г. Москва, <br>ул. Сущёвский Вал, д. 5, <br>строение 20, павильон 2Е88</li>
          <li><i class="fa fa-calendar"></i>ПН-ЧТ с 10:00 до 18:00 <br>ПТ с 10:00 до 17:00</li>
        </ul>
      </div>
      <div class="map">
        <script charset="utf-8" async src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=Mt-AIY4v97AAeAknHJcRvrQNqHze_0SV&width=100%&height=288&lang=ru_RU&sourceType=constructor&scroll=true"></script>
      </div>
    </div>
    <p class="contacts-department-details">
      Центр обработки заявок — это не склад, поэтому купить и забрать товар в центре нельзя. <br>В центре работает два оператора, которые по телефону примут ваш заказ и оформят заявку<br> в интернет-магазине.
      Удобно для тех, кому проще продиктовать заказ по телефону.
    </p>
  </div>
<p style="margin-top: 80px;"><a href="/pages/rekvisity/" style="padding-right: 15px;">Открыть</a>Реквизиты ООО "Исток-Плюс"</p>
</div>
  </div>


<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var elementList = document.querySelectorAll('.js-toggle-map');
        [].forEach.call(elementList, function(item) {
            item.addEventListener('click', function(event) {
                event.preventDefault();
                var mapTag = this.nextElementSibling;
                mapTag.classList.toggle('hide');
            });
        });
    });

    function removeClass(el, className) {
        if (el.classList) el.classList.remove(className);
        else el.className = el.className.replace(new RegExp('\\b'+ className+'\\b', 'g'), '');
    }
</script>
{% endblock %}
