@05-name: 05;
@05-x: 0px;
@05-y: 113px;
@05-offset-x: 0px;
@05-offset-y: -113px;
@05-width: 16px;
@05-height: 16px;
@05-total-width: 21px;
@05-total-height: 425px;
@05-image: 'sp-png.png';
@05: 0px 113px 0px -113px 16px 16px 21px 425px 'sp-png.png' 05;
@06-name: 06;
@06-x: 0px;
@06-y: 147px;
@06-offset-x: 0px;
@06-offset-y: -147px;
@06-width: 16px;
@06-height: 16px;
@06-total-width: 21px;
@06-total-height: 425px;
@06-image: 'sp-png.png';
@06: 0px 147px 0px -147px 16px 16px 21px 425px 'sp-png.png' 06;
@10-name: 10;
@10-x: 0px;
@10-y: 63px;
@10-offset-x: 0px;
@10-offset-y: -63px;
@10-width: 16px;
@10-height: 15px;
@10-total-width: 21px;
@10-total-height: 425px;
@10-image: 'sp-png.png';
@10: 0px 63px 0px -63px 16px 15px 21px 425px 'sp-png.png' 10;
@21-name: 21;
@21-x: 0px;
@21-y: 198px;
@21-offset-x: 0px;
@21-offset-y: -198px;
@21-width: 18px;
@21-height: 17px;
@21-total-width: 21px;
@21-total-height: 425px;
@21-image: 'sp-png.png';
@21: 0px 198px 0px -198px 18px 17px 21px 425px 'sp-png.png' 21;
@22-name: 22;
@22-x: 0px;
@22-y: 324px;
@22-offset-x: 0px;
@22-offset-y: -324px;
@22-width: 18px;
@22-height: 17px;
@22-total-width: 21px;
@22-total-height: 425px;
@22-image: 'sp-png.png';
@22: 0px 324px 0px -324px 18px 17px 21px 425px 'sp-png.png' 22;
@23-name: 23;
@23-x: 0px;
@23-y: 288px;
@23-offset-x: 0px;
@23-offset-y: -288px;
@23-width: 18px;
@23-height: 17px;
@23-total-width: 21px;
@23-total-height: 425px;
@23-image: 'sp-png.png';
@23: 0px 288px 0px -288px 18px 17px 21px 425px 'sp-png.png' 23;
@24-name: 24;
@24-x: 0px;
@24-y: 270px;
@24-offset-x: 0px;
@24-offset-y: -270px;
@24-width: 20px;
@24-height: 17px;
@24-total-width: 21px;
@24-total-height: 425px;
@24-image: 'sp-png.png';
@24: 0px 270px 0px -270px 20px 17px 21px 425px 'sp-png.png' 24;
@25-name: 25;
@25-x: 0px;
@25-y: 252px;
@25-offset-x: 0px;
@25-offset-y: -252px;
@25-width: 20px;
@25-height: 17px;
@25-total-width: 21px;
@25-total-height: 425px;
@25-image: 'sp-png.png';
@25: 0px 252px 0px -252px 20px 17px 21px 425px 'sp-png.png' 25;
@26-name: 26;
@26-x: 0px;
@26-y: 216px;
@26-offset-x: 0px;
@26-offset-y: -216px;
@26-width: 20px;
@26-height: 17px;
@26-total-width: 21px;
@26-total-height: 425px;
@26-image: 'sp-png.png';
@26: 0px 216px 0px -216px 20px 17px 21px 425px 'sp-png.png' 26;
@spritesheet-width: 21px;
@spritesheet-height: 425px;
@spritesheet-image: 'sp-png.png';
@spritesheet-sprites: @05 @06 @10 @21 @22 @23 @24 @25 @26;
@spritesheet: 21px 425px 'sp-png.png' @spritesheet-sprites;

.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
