# Docs here: https://docs.docker.com/compose/environment-variables/#/the-env-file

# It may affect on app logic. Valid values: LOCAL | CI | PROD
ENV_TYPE=LOCAL

# App related settings
DJANGO_SETTINGS_MODULE=shopelectro.settings.dev
DJANGO_LOG_LEVEL=INFO
SECRET_KEY=secret-key
STAGE_SECRET_KEY=another-secret-key

# URL to required services
POSTGRES_URL=postgres
REDIS_URL=redis
REDIS_PORT=6379
RABBITMQ_URL=rabbitmq
RABBITMQ_PORT=5672

# -- App business logic --
# every product price will be multiplied on this value
# during import from 1C.
# Multipliers are related to prices in this order:
# big/medium/small/retail. First three are wholesale prices.
PRICE_MULTIPLIERS=0.98, 0.98, 0.98, 0.99
