# Docs here: https://docs.docker.com/compose/environment-variables/#/the-env-file

# Credentials for app's services
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=se_prod
STAGE_DB_NAME=se_stage
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass
REDIS_PASSWORD=pass
REDIS_LOCATION_DEFAULT=0
REDIS_LOCATION_SESSION=1
REDIS_LOCATION_THUMBNAIL=2
REDIS_LOCATION_USER_AGENT=3
REDIS_STAGE_LOCATION_DEFAULT=4
REDIS_STAGE_LOCATION_SESSION=5
REDIS_STAGE_LOCATION_THUMBNAIL=6
REDIS_STAGE_LOCATION_USER_AGENT=7


# Credentials for ftp with files from 1C
FTP_USER=user
FTP_PASS=pass
FTP_IP=ip

# Credentials for yandex services
YANDEX_SHOP_PASS=pass
EMAIL_HOST_PASSWORD=pass
