# Identify the dependencies folder
DEPS_DIR=/usr/local/lib/python3.6/site-packages
# Directory, where you cloned `refarm-site` repository
REFARM_DIR=/path/to_my/refarm_site
# Identify the source folder
SRC_DIR=/usr/app/src
# Set smth like `/var/fidals/se_db`, if you use VirtualBox
POSTGRES_DATA_DIR=./../database
FRONT_BUILD_DIR=/usr/app/front/build
