{% load se_extras %}
{% load pages_extras %}

<div class="col-xs-8 col-xs-offset-4">
  <div class="js-header-cart header-cart">
    <span class="basket-products-count js-cart-size">{{ cart.total_quantity }}</span>
    {% if cart.total_price == 0 %}
      <span class="cart-is-empty js-cart-is-empty" id="cart-is-empty">Корзина пуста</span>
    {% else %}
      <span class="cart-is-empty js-cart-is-empty hidden" id="cart-is-empty">Корзина пуста</span>
      <a class="price-in-cart js-go-to-cart" href="{% custom_url 'order' %}">
        {{ cart.total_price|humanize_price }} руб.
      </a>
    {% endif %}
    <span class="opener"><i class="fa fa-chevron-down"></i></span>
  </div>
</div>

<div class="basket-wrapper js-cart-wrapper">
  <p>В корзине <span class="js-basket-amount-count">{{ cart|length }}</span> позиций</p>
  <div class="scroll-wrapper {% if cart.total_price == 0 %}empty{% endif %}" id="scroll-wrapper">
    <ul class="basket-list list-unstyled" id="basket-list">
      {% for id, position in cart %}
        <li class="basket-item">
          <a class="basket-stuff-link" href="{{ position.url }}">
            <img class="basket-stuff-img img-centered img-responsive" src="{{ position.image }}"
            alt="{% get_img_alt position %}">
          </a>
          <div class="basket-stuff-about">
            <a class="basket-stuff-title" href="{{ position.url }}">{{ position.name }}</a>
          </div>
          <p class="basket-stock">
            {% if position.in_stock %}
              <i class="fa fa-circle in-stock"></i> В наличии: {{ position.in_stock }} шт.
            {% else %}
              <i class="fa fa-circle out-stock"></i> Под заказ
            {% endif %}
          </p>
          <div class="basket-stuff-price">
            <span class="basket-price js-basket-price">{{ position.price|humanize_price }} руб</span> х
            <span class="basket-count js-basket-count">{{ position.quantity }} шт.</span> =
            <span class="basket-sum js-basket-sum">{{ position.total_price|humanize_price }} руб.</span>
          </div>
          <div class="basket-remove js-cart-remove" data-id="{{ id }}" title="Удалить товар"></div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="basket-calculations text-right {% if cart.total_price == 0 %}hidden{% endif %}
     js-basket-calculations">
    <p class="basket-price-sum">
      Итого:
      <span class="js-basket-price-sum">{{ cart.total_price|humanize_price }}</span>
      <span class="table-units"> руб.</span>
    </p>
    <p class="basket-info">без учета стоимости доставки</p>
  </div>

  <div class="basket-is-empty {% if cart.total_price > 0 %}hidden{% endif %}
    text-right js-cart-is-empty"><p class="basket-price-sum">Корзина пуста</p>
  </div>

  <div class="text-center">
    {% if cart|length == 0 %}
      <a href="{% custom_url 'order' %}"
         class="btn btn-pink btn-to-order js-go-to-cart" disabled>Оформить заказ сейчас</a>
    {% else %}
      <a href="{% custom_url 'order' %}"
         class="btn btn-pink btn-to-order js-go-to-cart">Оформить заказ сейчас</a>
      <p>
        <span class="basket-reset js-reset-cart">Очистить корзину</span>
      </p>
    {% endif %}
  </div>
</div>
