{% extends 'ecommerce/order/email.html' %}

{% load se_extras %}

{% block se_info %}
  <table>
    <tr>
      <td>Номер заказа</td>
      <td>{{ order.fake_order_number }}</td>
    </tr>
    <tr>
      <td>Оплатил</td>
      <td>{{ extra_context.paid|humanize_price }}</td>
    </tr>
    <tr>
      <td>Зашло на счет</td>
      <td>{{ extra_context.profit }}</td>
    </tr>
    <tr>
      <td>Комиссия Я.Кассы</td>
      <td>{{ extra_context.commission }} %</td>
    </tr>
    <tr>
      <td>Способ оплаты</td>
      <td>{{ order.payment_type_label }}</td>
    </tr>
    {% if order.comment %}
    <tr>
      <td>Комментарий</td>
      <td>{{ order.comment }}</td>
    </tr>
    {% endif %}
  </table>
{% endblock %}
