# Copy this file in the same dir and rename to "local.py"

from .base import *


DEBUG = True
USE_CELERY = False
# http://bit.ly/sorl-thumbnail-docs
THUMBNAIL_DEBUG = True

# https://docs.djangoproject.com/en/1.11/topics/cache/#dummy-caching-for-development
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# to disable django connection pool.
# See .base.CONN_MAX_AGE for details
CONN_MAX_AGE = 0

ALLOWED_HOSTS = ['127.0.0.1', 'localhost', '0.0.0.0']
EMAIL_HOST_PASSWORD = 'so_secret_pass'

SITE_DOMAIN_NAME = 'stage.shopelectro.ru'
YANDEX_KASSA_LINK = 'https://demomoney.yandex.ru/eshop.xml'

SELENIUM_URL = os.environ.get('SELENIUM_URL', 'http://selenium:4444/wd/hub')
SELENIUM_WAIT_SECONDS = int(os.environ['SELENIUM_WAIT_SECONDS'])
SELENIUM_TIMEOUT_SECONDS = int(os.environ['SELENIUM_TIMEOUT_SECONDS'])
SELENIUM_IMPLICIT_WAIT = int(os.environ['SELENIUM_IMPLICIT_WAIT'])
