# Copy this file in the same dir and rename to "local.py"

from .base import *


DEBUG = True

# http://bit.ly/sorl-thumbnail-docs
THUMBNAIL_DEBUG = True

ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'shopelectro',
        'USER': 'postgres',
        'PASSWORD': '11',
        'HOST': '',
        'PORT': '',
    },
}

EMAIL_HOST_PASSWORD = 'so_secret_pass'

# to disable django connection pool.
# See .base.CONN_MAX_AGE for details
CONN_MAX_AGE = 0
