{% extends "shopelectro/base.html" %}

{#{% block content %}#}
{#  <div class="container page-front">#}
{#    <div class="page-front-cell page-front-cell-01">#}
{#      <div class="stuff-wrapper stuff-wrapper-01">#}
{#        <div class="stuff-title">#}
{#          <a class="stuff-title-link" href="#">#}
{#            Аккумуляторы#}
{#          </a>#}
{#        </div>#}
{#        <a class="stuff-img stuff-img-01" href="#">#}
{#          <img src="/assets/catalog/img/products/6/main.jpg" class="img-responsive" alt="Аккумуляторы">#}
{#        </a>#}
{#      </div>#}
{#      <ul class="stuff-list stuff-list-01 list-unstyled">#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link" href="#">Типоразмера ААА</a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Для радиомоделей и игрушек#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Свинцово-кислотные#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Внешние универсальные#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Для ноутбуков#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Адаптеры, отсеки и футляры#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{##}
{#    <div class="page-front-cell page-front-cell-02">#}
{#      <div class="stuff-wrapper stuff-wrapper-02">#}
{#        <div class="stuff-title">#}
{#          <a class="stuff-title-link" href="#">#}
{#            Автопреобразователи напряжения#}
{#          </a>#}
{#        </div>#}
{#        <a class="stuff-img stuff-img-02" href="#">#}
{#          <img src="/assets/catalog/img/products/290/small.jpg" class="img-responsive" alt="Автопреобразователи напряжения">#}
{#        </a>#}
{#      </div>#}
{#      <ul class="stuff-list stuff-list-02 list-unstyled">#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Инверторы СОЮЗ#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Инверторы ROBITON#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Преобразователи DC 24 В/12 В KALLER#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{##}
{#      <div class="stuff-double">#}
{#        <div class="stuff-double-wrapper">#}
{#          <div class="stuff-title">#}
{#            <a class="stuff-title-link" href="#">#}
{#              Батарейки#}
{#            </a>#}
{#          </div>#}
{#          <a class="stuff-img stuff-img-03" href="#">#}
{#            <img src="/assets/catalog/img/products/2662/small.jpg" class="img-responsive" alt="Батарейки">#}
{#          </a>#}
{#        </div>#}
{#        <ul class="stuff-double-list list-unstyled">#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">Типоразмера АА</a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">#}
{#              Часовые#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">#}
{#              Литиевые#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{##}
{#      <div class="stuff-double">#}
{#        <div class="stuff-double-wrapper">#}
{#          <div class="stuff-title">#}
{#            <a class="stuff-title-link" href="#">#}
{#              Фонари#}
{#            </a>#}
{#          </div>#}
{#          <a class="stuff-img stuff-img-03" href="#">#}
{#            <img src="/assets/catalog/img/products/1227/small.jpg" class="img-responsive" alt="Фонари">#}
{#          </a>#}
{#        </div>#}
{#        <ul class="stuff-double-list list-unstyled">#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">#}
{#              Фотон#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">#}
{#              Эра#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link" href="#">#}
{#              Яркий Луч#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{##}
{#    <div class="page-front-cell page-front-cell-03">#}
{#      <div class="stuff-wrapper stuff-wrapper-03">#}
{#        <div class="stuff-title">#}
{#          <a class="stuff-title-link"#}
{#             href="#">#}
{#            Зарядные устройства#}
{#          </a>#}
{#        </div>#}
{#        <a class="stuff-img stuff-img-02"#}
{#           href="#">#}
{#          <img src="/assets/catalog/img/products/3124/small.jpg" class="img-responsive" alt="Зарядные устройства">#}
{#        </a>#}
{#      </div>#}
{#      <ul class="stuff-list stuff-list-03 list-unstyled">#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Для фотоаппаратов#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Для видеокамер#}
{#          </a>#}
{#        </li>#}
{#        <li class="stuff-item">#}
{#          <a class="stuff-link"#}
{#             href="#">#}
{#            Для свинцовых#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{##}
{#      <div class="stuff-double">#}
{#        <div class="stuff-double-wrapper">#}
{#          <div class="stuff-title">#}
{#            <a class="stuff-title-link"#}
{#               href="#">#}
{#              Мультиметры#}
{#            </a>#}
{#          </div>#}
{#          <a class="stuff-img stuff-img-03"#}
{#             href="#">#}
{#            <img src="/assets/catalog/img/products/1397/small.jpg" class="img-responsive" alt="Мультиметры">#}
{#          </a>#}
{#        </div>#}
{#        <ul class="stuff-double-list list-unstyled">#}
{#          <li class="stuff-item stuff-item-double-small">#}
{#            <a class="stuff-link" href="#">#}
{#              MY68 Master Professional#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double-small">#}
{#            <a class="stuff-link" href="#">#}
{#              MY67 Master Professional#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double-small">#}
{#            <a class="stuff-link" href="#">#}
{#              MY65 Master Professional#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{##}
{#      <div class="stuff-double">#}
{#        <div class="stuff-double-wrapper">#}
{#          <div class="stuff-title">#}
{#            <a class="stuff-title-link"#}
{#               href="#">#}
{#              Блоки питания#}
{#            </a>#}
{#          </div>#}
{#          <a class="stuff-img stuff-img-03"#}
{#             href="#">#}
{#            <img src="/assets/catalog/img/products/2847/small.jpg" class="img-responsive" alt="Блоки питания">#}
{#          </a>#}
{#        </div>#}
{#        <ul class="stuff-double-list list-unstyled">#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link"#}
{#               href="#">#}
{#              220В для ноутбуков#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link"#}
{#               href="#">#}
{#              12В для ноутбуков#}
{#            </a>#}
{#          </li>#}
{#          <li class="stuff-item stuff-item-double">#}
{#            <a class="stuff-link"#}
{#               href="#">#}
{#              Трансформаторные#}
{#            </a>#}
{#          </li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{##}
    {# Топ 10 товаров #}
{#    <div class="stuff-top">#}
{#      <p class="stuff-top-title text-center h3">ТОП 10 ТОВАРОВ</p>#}
{#      {% for prod in top10prods %}#}
{#        <div class="stuff-top-item">#}
{#          <a class="stuff-top-img" href="#"#}
{#             onclick="common.main.controller.reachProdBrowseGoal()">#}
{#            <img src="#" class="img-responsive" alt="#">#}
{#          </a>#}
{#          <div class="stuff-top-description">#}
{#            <div class="stuff-top-wrap">#}
{#              <a class="stuff-top-name" href="#"#}
{#                 onclick="common.main.controller.reachProdBrowseGoal()">prod.getName()</a>#}
{#            </div>#}
{#            <div class="stuff-top-category">prod.type</div>#}
{#            <div class="stuff-top-price-new">prod.getPriceRetail() руб.</div>#}
{#          </div>#}
{#        </div>#}
{#      {% endfor %}#}
{#    </div>#}
{##}
{#    <div class="page-front-news">#}
{#      <div class="page-front-news-item" onclick="location.href='#russia'">#}
{#        <div class="page-front-news-img">#}
{#          <img src="imgs/services-01.jpg" class="page-front-news-img-inner" alt="Доставка по всей РоссииДоставка по всей России">#}
{#        </div>#}
{#        <div class="page-front-news-title">Доставка по всей России</div>#}
{#        <div class="page-front-news-text">#}
{#          Доставка товаров по всей России курьером, почтой, транспортной компании.#}
{#          Доставка во все города и уголки страны#}
{#        </div>#}
{#      </div>#}
{#      <div class="page-front-news-item" onclick="location.href=''">#}
{#        <div class="page-front-news-img">#}
{#          <img src="imgs/services-02.jpg" class="page-front-news-img-inner" alt="Пайка на заказ">#}
{#        </div>#}
{#        <div class="page-front-news-title">Аккумуляторные сборки</div>#}
{#        <div class="page-front-news-text">#}
{#          Предлагаем услуги пайки на заказ:#}
{#          изготовим батарею или аккумулятор нестандартной формы с заданными характеристиками#}
{#        </div>#}
{#      </div>#}
{#      <div class="page-front-news-item" onclick="location.href=''">#}
{#        <div class="page-front-news-img">#}
{#          <img src="imgs/services-03.jpg" class="page-front-news-img-inner" alt="Ремонт аккумуляторов">#}
{#        </div>#}
{#        <div class="page-front-news-title">Ремонт аккумуляторов</div>#}
{#        <div class="page-front-news-text">#}
{#          Политика обмена и возврата товара. Обмен и возврат.#}
{#          Если купленная в магазине вещь вам не подошла, ее можно обменять или вернуть#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#{% endblock %}#}