{% load pages_extras %}
{% load se_extras %}
{% load static %}

<!DOCTYPE html>
<html prefix="ya: http://webmaster.yandex.ru/vocabularies/ og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="ru">

<head>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_head_tag=True %}
  {% if page %}
    {% include 'layout/metadata.html' with page=page request=request paginated=paginated only %}
  {% endif %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endblock %}

  <!--[if lt IE 10 ]>
    <link rel="stylesheet" href="{% static 'css/ie.min.css' %}">
  <![endif]-->
</head>
<body>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_body_tag=True %}

  <div id="desktop-wrapper">
    {% block header %}
      {% include 'layout/header.html' %}
    {% endblock %}

    <div class="container content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
      {% include 'layout/footer.html' %}
    {% endblock %}

    {% block mobile_cart %}
      {% include 'layout/mobile_cart.html' %}
    {% endblock %}
  </div>

  {% block mobile_nav %}
    {% include 'layout/mobile_nav.html' %}
  {% endblock %}

  <div class="btn-scroll-to-top" id="btn-scroll-to-top">
    <i class="fa fa-arrow-circle-up"></i>
  </div>

  {% block modals %}
    {% include 'layout/back_call_modal.html' %}
  {% endblock %}

  {% block jslibs %}
    <script src="{% static 'js/main-vendors.min.js' %}"></script>
    <!--[if lt IE 10]>
      <script src="{% static 'js/ie-vendors.min.js' %}"></script>
    <![endif]-->
  {% endblock %}

  {% block jslinks %}
    <script src="{% static 'js/main.min.js' %}"></script>
  {% endblock %}

  {% include 'layout/marketing.html' %}
</body>
</html>
