{% load se_extras %}
{% load staticfiles %}
{% load pages_extras %}

<!DOCTYPE html>
<html prefix="ya: http://webmaster.yandex.ru/vocabularies/ og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" lang="ru">

<head>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_head_tag=True %}
  {% if page %}
    {% include 'layout/metadata.html' with page=page only %}
  {% endif %}
  {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
  {% endblock %}
</head>
<body>
  {% include 'layout/google_tag_manager.html' with DEBUG=DEBUG is_body_tag=True %}

  <div id="desktop-wrapper">
    {% block header %}
      {% include 'layout/header.html' %}
    {% endblock %}

    <div class="container content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
      {% include 'layout/footer.html' %}
    {% endblock %}

    <div class="mobile-cart js-header-cart">
      <span>Товаров:</span>
      <span class="mobile-cart-count js-cart-size">
        <span>
          {{ cart.total_quantity }}
        </span> шт.
      </span>
      <br>
      <span>На сумму:</span>
      <span class="mobile-cart-price">
        <span class="js-mobile-cart-price">
          {{ cart.total_price|humanize_price }}
        </span> руб.
      </span>

      <a class="btn btn-pink mobile-cart-link js-go-to-cart"
         href="{% custom_url 'order' %}">Корзина</a>
    </div>
  </div>

  {% block mobile_nav %}
    {% include 'layout/mobile_nav.html' %}
  {% endblock %}

  <div class="btn-scroll-to-top" id="btn-scroll-to-top">
    <i class="fa fa-arrow-circle-up"></i>
  </div>

  {% block modals %}
    {% include 'layout/back_call_modal.html' %}
  {% endblock %}

  {% block jslibs %}
    <script src="{% static 'js/main-vendors.min.js' %}"></script>
  {% endblock %}

  {% block jslinks %}
    <script src="{% static 'js/main.min.js' %}"></script>
  {% endblock %}

  {% include 'layout/marketing.html' %}
</body>
</html>
