{% load se_extras %}
{% load static %}
{% footer_links as footer_links %}

<div class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a class="btn btn-pink footer-download js-download-price-footer"
             href="{% static 'pricelist.xlsx' %}" title="Скачать прайс">
            <span>Скачать прайс</span>
          </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="top-footer-persent">
            <span class="symbol">%</span>
            <div class="top-footer-persent-text">
              <a class="sub-footer-link" id="wholesale-link" href="{% url 'pages:flat_page' 'wholesale' %}">
                Выгодные условия для оптовых покупателей</a>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="delivery-text">
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'navigation' 'delivery' %}">
              <span>Самовывоз со склада</span>
            </a>
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'navigation' 'delivery' %}">
              <span>Доставка курьером по СПБ и ЛО</span>
            </a>
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'navigation' 'delivery' %}">
              <span>Доставка по всей России</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-footer">
    <div class="container">
      <div class="row middle-footer-row">
        <div class="col-sm-4 middle-footer-col">
          <div class="middle-footer-title">
            <a class="middle-footer-title-link" href="/catalog/">Каталог товаров</a>
          </div>
          <ul class="list-unstyled">
            {% for root in root_categories|slice:":3" %}
              <li class="footer-list-item">
                <a class="footer-list-link" href="{{ root.url }}">{{ root.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-sm-4 middle-footer-col">
          <div class="middle-footer-title">Услуги</div>
          <ul class="list-unstyled">
            {% for item in footer_links.services %}
              <li class="footer-list-item">
                <a class="footer-list-link"
                   href="{% url 'pages:flat_page' 'navigation' item.slug %}">
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-sm-4 middle-footer-col">
          <div class="middle-footer-title">
            <a class="middle-footer-title-link" href="{% url 'pages:flat_page' 'navigation' 'about' %}">О компании</a>
          </div>
          <ul class="list-unstyled">
            {# We don't use item.url here because item is not Model instance #}
            {% for item in footer_links.about %}
              <li class="footer-list-item">
                <a class="footer-list-link" href="{% url 'pages:flat_page' item.type item.slug %} ">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="btm-footer">
    <div class="container">
      <div class="row">
        <!--noindex-->
        <div class="col-sm-3">
          <a rel="nofollow" href="//clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/103499/reviews">
            <img
                src="//clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*https://grade.market.yandex.ru/?id=103499&action=image&size=2"
                height="90" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете">
          </a>
        </div>
        <!--/noindex-->

        <div class="col-sm-6 col-md-3">
          <div class="footer-contacts">
            <span>Санкт-Петербург</span>
            <div class="footer-contact">
              <span title="м. Автово">
                <a class="subway-link subway-link-red" href="{% url 'pages:flat_page' 'contacts' %}">
                  Ярмарка «Юнона», пав. 660, 662
                </a>
              </span>
              <span>пн-вс 10:00-18:00</span>
            </div>
            <div class="footer-contact">
              <span title="м. Елизаровская">
                <a class="subway-link subway-link-green"
                   href="{% url 'pages:flat_page' 'contacts' %}">
                  пр-т Елизарова 38А, офис 312
                </a>
              </span>
              <span>пн-чт 10:00-18:00, пт 10:00-17:00</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="footer-phone">
            <div class="footer-number">
              <span class="footer-cifre js-copy-phone">
                <a class="footer-phone-link substitute-phone-link" href="tel:{{ shop.cps_phone }}">
                  <span>+7 (812)</span> <span class="substitute-phone">{{ shop.cps_formatted_phone }}</span>
                </a>
              </span>
              <p class="mail-wrapper js-copy-mail">
                <a href="mailto:info@shopelectro.ru" class="mail">info@shopelectro.ru</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-last">
          <div class="footer-logo-wrapper">
            <a class="footer-logo footer-logo-img" href="/"></a>
          </div>
        </div>
      </div>

      <div class="footer-copyright text-center">
        <p>Все права защищены. 2000-{% now 'Y' %} ООО «Исток-Плюс» (Москва, Санкт-Петербург)</p>
        <!--noindex-->
        <p>Делаем веб-сервисы.
          <a href="https://fidals.com/?utm_source=SE_site&utm_medium=backlink&utm_campaign=backlink_traffic"
             rel="nofollow" target="_blank">fidals.com</a>
        </p>
        <!--/noindex-->
      </div>
    </div>
  </div>
</div>
