{% load se_extras %}
{% load staticfiles %}
{% roots as root_categories %}

<div class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <a class="download js-download-price-footer" href="{% static 'pricelist.xlsx' %}" title="Скачать прайс-лист">
            <span>Скачать прайс-лист</span>
          </a>
        </div>
        <div class="col-xs-4">
          <div class="top-footer-persent">
            <span class="symbol">%</span>
            <div class="top-footer-persent-text">
              <a class="sub-footer-link" id="wholesale-link" href="{% url 'pages:flat_page' 'wholesale' %}">
                Выгодные условия для оптовых покупателей</a>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="delivery-text">
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'delivery' %}">
              <span>Самовывоз со склада</span>
            </a>
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'delivery' %}">
              <span>Доставка курьером по СПБ и ЛО</span>
            </a>
            <a class="sub-footer-link" href="{% url 'pages:flat_page' 'delivery' %}">
              <span>Доставка по всей России</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle-footer">
    <div class="container">
      <div class="row middle-footer-row">
        <div class="col-xs-4 middle-footer-col">
          <div class="middle-footer-title">
            <a class="middle-footer-title-link" href="/catalog/">Каталог товаров</a>
          </div>
          <ul class="list-unstyled">
            {% for root in root_categories %}
              <li class="footer-list-item">
                <a class="footer-list-link" href="{{ root.get_absolute_url }}">{{ root.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-xs-4 middle-footer-col">
          <div class="middle-footer-title">Услуги</div>
          <ul class="list-unstyled">
            {% for item in footer_links.services %}
              <li class="footer-list-item">
                <a class="footer-list-link" href="{% url 'pages:flat_page' item.slug %}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-xs-4 middle-footer-col">
          <div class="middle-footer-title">
            <a class="middle-footer-title-link" href="{% url 'pages:flat_page' 'about' %}">О компании</a>
          </div>
          <ul class="list-unstyled">
            {% for item in footer_links.about %}
              <li class="footer-list-item">
                <a class="footer-list-link" href="{% url 'pages:flat_page' item.slug %} ">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="btm-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <a href="//clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/103499/reviews">
            <img
                src="//clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*https://grade.market.yandex.ru/?id=103499&action=image&size=2"
                height="90" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете">
          </a>
        </div>

        <div class="col-xs-3">
          <div class="footer-contacts">
            <span>Санкт-Петербург</span>
            <div class="footer-contact">
              <span title="м. Автово"><img src="{% static 'images/metro_red.png' %}" alt="м. Автово">
                <a class="subway-contact-link" href="{% url 'pages:flat_page' 'contacts' %}"> Ярмарка «Юнона», пав. 660, 662</a></span>
              <span>пн-вс 10:00-18:00</span>
            </div>
            <div class="footer-contact">
              <span title="м. Елизаровская"><img src="{% static 'images/metro_green.png' %}" alt="м.
              Елизаровская">
                <a class="subway-contact-link"
                   href="{% url 'pages:flat_page' 'contacts' %}"> пр-т Елизарова 38А, офис 312</a></span>
              <span>пн-чт 10:00-18:00, пт 10:00-17:00</span>
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-phone">
            <div class="footer-number">
              <span class="footer-cifre js-copy-phone">
                <span>+7 (812)</span> <span class="ya-opt-phone">416-32-00</span>
              </span>
              <p class="mail-wrapper js-copy-mail">
                <a href="mailto:info@shopelectro.ru" class="mail">info@shopelectro.ru</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="footer-logo-wrapper text-right">
            <a class="footer-logo" href="/">
              <img class="footer-logo-img" alt="Логотип" src="{% static 'images/common/logo.svg' %}">
            </a>
            <p class="footer-logo-text">продажа элементов питания</p>
          </div>
        </div>
      </div>

      <div class="footer-copyright text-center">
        <p>Все права защищены. 2000-2016 ООО «Исток-Плюс» (Москва, Санкт-Петербург)</p>
        <p>Делаем сложные магазины.
          <a href="https://fidals.com/blog/se-project.html?utm_source=SE_site&utm_medium=backlink&utm_campaign=backlink_traffic"
             target="_blank">Fidals.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
