{% if not DEBUG %}

  {% if is_head_tag %}
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P6RH2S');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}

  {% if is_body_tag %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6RH2S"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

{% else %}
  {% if is_head_tag %}
    <script>
      var gaObj = (function() {
        var results = [];

        var fn = function(action, params) {
          results.push([action, params]);
          console.log('GA:', JSON.stringify([action, params]));
        };

        return {
          fn: fn,
          results: results,
        }
      }());
      var ga = gaObj.fn;

      window.dataLayer = (function() {
        var results = [];

        var push = function() {
          var args = Array.from(arguments);
          results.push(args);
          console.log('YA:', JSON.stringify(args));
        };

        return {
          push: push,
          results: results,
        }
      }());

      var yaCounter20644114 = (function() {
        var goals = [];

        var reachGoal = function(goal) {
          goals.push(goal);
          console.log(goal);
        };

        return {
          reachGoal: reachGoal,
          goals: goals,
        }
      }());
    </script>
  {% endif %}
{% endif %}
