{% load se_extras %}
{% load pages_extras %}
{% load staticfiles %}
{% roots as root_categories %}

<div class="header">
  {# Remove .new-year-background after new year #}
  <div class="new-year-background container">
    <div class="top-header">
      <div class="row">
        <div class="col-xs-3 header-logo-wrapper" itemscope itemtype="http://schema.org/Organization">
          <a href="/" title="На главную" itemprop="logo">
            <img class="header-logo" src="{% static 'images/common/logo.svg' %}" alt="ShopElectro">
          </a>
        </div>

        <div class="col-xs-5 header-info">
          <div class="header-phone js-copy-phone">
            <a class="header-phone-link substitute-phone-link" href="tel:+78124163200">
              <span class="header-phone-code header-phone-precode">+7</span>
              <span class="header-phone-code">812</span>
              <span class="header-phone-body substitute-phone">416-32-00</span>
            </a>
          </div>

          <div class="header-email">
            <p class="header-mail-wrapper js-copy-mail">
              <a href="mailto:info@shopelectro.ru" class="header-mail">info@shopelectro.ru</a>
            </p>
            <p class="header-time">
              пн-чт с 10 до 18, пт до 17
            </p>
          </div>
        </div>

        <div class="col-xs-4 header-navigation-wrapper">
          <ul class="list-unstyled header-navigation">
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'delivery' %}">
                Доставка
              </a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'pay' %}">
                Оплата
              </a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'return-goods-instr' %}">
                Возврат
              </a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'contacts' %}">
                Контакты
              </a>
            </li>
          </ul>

          <!--noindex-->
            <span class="btn-feedback js-backcall-order" data-toggle="modal" data-target="#back-call-modal">
              <i class="fa fa-mobile" aria-hidden="true"></i> Заказать звонок
            </span>
          <!--/noindex-->

          <a class="header-download-pricelist right js-download-price"
             href="{% static 'pricelist.xlsx' %}">
            <i class="fa fa-download" aria-hidden="true"></i> Скачать прайс
          </a>
        </div>
      </div>
    </div>

    <div class="middle-header">
      <div class="container">
        <div class="middle-header-inner">
          <div class="row">
            <div class="col-xs-8">
              <form class="navbar-form search-form js-search-form"
                    action="{% custom_url 'search' %}" method="get">
                <div class="row">
                  <div class="col-xs-11">
                    <div class="form-group search-area">
                      <div class="row">
                        <div class="col-xs-7">
                          <input class="form-control js-search-input" type="text" name="term"
                                 placeholder="Поиск по названию, артикулу, производителю" value="{{ term }}">
                        </div>
                        <div class="col-xs-5">
                          <div class="example">
                            например,
                            <span class="search-example-text" id="search-example-text">
                              Батарейка MINAMOTO 3R12, 4.5 В
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-1">
                    <button type="submit" class="form-btn btn fa fa-search" id="search-submit"></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="basket-parent js-cart-header col-xs-4">
              {% include 'ecommerce/header_cart.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="nav-category-wrapper">
        <ul class="nav-category list-unstyled clearfix">
          {% for root in root_categories %}
            <li class="nav-category-item">
              <a class="nav-category-link" href="{{ root.get_absolute_url }}">{{ root.name }}</a>
              {% if root.get_children %}
                <div class="nav-menu-dropdown">
                  <ul class="list-unstyled">
                    {% for child in root.get_children %}
                      <li><a href="{{ child.get_absolute_url }}" class="nav-menu-dropdown-link">
                        {{ child.name }}
                      </a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}

          <li class="nav-category-item">
            <a class="nav-category-link" href="{% url 'pages:flat_page' 'remont-akkumulyatorov' %}" title="Ремонт аккумуляторов">Ремонт аккумуляторов</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
