{% load se_extras %}
{% load staticfiles %}
{% roots as root_categories %}

<div class="header">
  <div class="wrapper-container">
    <div class="top-header-plate text-muted text-center">Бесплатная доставка по России от 3000 рублей</div>

    <div class="top-header">
      <div class="container">

        <div class="header-logo-wrapper">
          <a href="/" title="На главную"><img class="header-logo" src="{% static 'images/common/logo.svg' %}"
                                              alt="ShopElectro"></a>
          <p class="header-logo-text">продажа элементов питания</p>
        </div>

        <div class="header-price-wrapper">
          <a href="{% static 'pricelist.xlsx' %}" class="download js-download-price">Скачать
            прайс-лист</a>
        </div>

        <div class="header-sub-wrapper-left">
          <div class="header-sub">
            <span class="header-sub-text">Санкт-Петербург</span>
            <span title="м. Автово"><img src="{% static 'images/metro_red.png' %}" alt="м. Автово">
              <a class="subway-contact-link" rel="nofollow"
                 href="{% url 'pages:flat_page' 'contacts' %}"> Ярмарка «Юнона», пав. 660, 662</a></span>
            <span class="header-sub-text">пн-вс 10:00-18:00</span>
          </div>
          <div class="header-sub">
            <span title="м. Елизаровская"><img src="{% static 'images/metro_green.png' %}" alt="м.
            Елизаровская">
              <a class="subway-contact-link" rel="nofollow" href="{% url 'pages:flat_page' 'contacts' %}">
                пр-т Елизарова 38А, офис 312</a></span>
            <span class="header-sub-text">пн-чт 10:00-18:00, пт 10:00-17:00</span>
          </div>
        </div>

        <div class="header-sub-wrapper-right">
          <ul class="navbar navbar-default hed-mnu">
            <li><a href="{% url 'pages:flat_page' 'delivery' %}">Доставка</a></li>
            <li><a href="{% url 'pages:flat_page' 'pay' %}">Оплата</a></li>
            <li><a href="{% url 'pages:flat_page' 'news' %}">Новости</a></li>
            <li><a href="{% url 'pages:flat_page' 'contacts' %}">Контакты</a></li>
          </ul>
        </div>

        <div class="header-call clearfix">
          <div class="header-phone">
            <span class="header-phone-cifre js-copy-phone">
              <span class="cifre-span">+7 (812)</span> <span class="ya-opt-phone">416-32-00</span>
            </span>
            <p class="mail-wrapper js-copy-mail">
              <a href="mailto:info@shopelectro.ru" class="mail">info@shopelectro.ru</a>
            </p>
          </div>
          <!--noindex-->
            <div class="feedback-but js-backcall-order" data-toggle="modal" data-target="#back-call-modal">
              <i class="fa fa-mobile"></i>
              <span class="feedback-but-btn">Заказать звонок</span>
            </div>
          <!--/noindex-->
        </div>
      </div>
    </div>

    <div class="middle-header">
      <div class="container">
        <div class="middle-header-inner">
          <div class="row">
            <div class="col-xs-8">
              <form class="navbar-form search-form js-search-form" action="{% custom_url 'search' %}" method="get">
                <div class="row">
                  <div class="col-xs-11">
                    <div class="form-group search-area">
                      <div class="row">
                        <div class="col-xs-7">
                          <input class="form-control js-search-input" type="text" name="term"
                                 placeholder="Поиск по названию, артикулу, производителю">
                        </div>
                        <div class="col-xs-5">
                          <div class="example">
                            например,
                            <span class="search-example-text" id="search-example-text">
                              Батарейка MINAMOTO 3R12, 4.5 В
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-1">
                    <button type="submit" class="form-btn btn fa fa-search" id="search-submit"></button>
                  </div>
                </div>
              </form>
            </div>
            <div class="basket-parent js-cart-header col-xs-4">
              {% include 'ecommerce/header_cart.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="nav-category-wrapper">
        <ul class="nav-category list-unstyled clearfix">
          {% for root in root_categories %}
            <li class="nav-category-item">
              <a class="nav-category-link" href="{{ root.get_absolute_url }}">{{ root.name }}</a>
              {% if root.get_children %}
                <div class="nav-menu-dropdown">
                  <ul class="list-unstyled">
                    {% for child in root.get_children %}
                      <li><a href="{{ child.get_absolute_url }}" class="nav-menu-dropdown-link">
                        {{ child.name }}
                      </a></li>
                    {% endfor %}
                  </ul>
                  {% random_product root as product %}
                  {% if product %}
                    <div class="popular-product">
                      <a class="popular-product-link" href="{{ product.get_absolute_url }}">
                      <div class="label">Случайный товар</div>
                      <div class="popular-product-image-wrapper">
                        {% include 'index/product_thumbnail.html' with product=product dimensions='150x150' only %}
                      </div>
                      <div class="text">
                        <div class="price">{{ product.price }} руб.</div>
                        <div class="desc"><span>{{ product.name }}</span></div>
                      </div>
                      </a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endfor %}

          <li class="nav-category-item">
            <a class="nav-category-link" href="{% url 'pages:flat_page' 'remont-akkumulyatorov' %}" title="Ремонт аккумуляторов">Ремонт аккумуляторов</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
