{% load cache %}
{% load pages_extras %}
{% load se_extras %}
{% load static %}
{% load user_agents %}
{% header_menu as header_menu %}

<div class="header">
  <div class="top-header">
    <div class="container">
      <div class="row">
        <a href="#mobile-menu" class="header-toggle-menu js-mobile-menu-toggler">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="col-sm-4 col-sm-offset-2 col-md-offset-0 col-md-3 header-logo-wrapper"
             itemscope itemtype="https://schema.org/Organization">
          <a class="header-logo" href="/" title="На главную" itemprop="logo"></a>
          <p class="hidden" itemprop="name">ShopElectro</p>
          <p class="hidden" itemprop="address">Санкт-Петербург, пр-т Елизарова 38А, офис 312</p>
          <p class="hidden" itemprop="telephone">8 (812) {{ shop.cps_formatted_phone }}</p>
        </div>

        <div class="col-sm-4 col-md-4 header-info">
          <div class="header-phone js-copy-phone">
            <a class="header-phone-link substitute-phone-link" href="tel:{{ shop.cps_phone }}">
              <i class="fa fa-phone"></i>
              <span class="header-phone-code header-phone-precode">8</span>
              <span class="header-phone-code">812</span>
              <span class="header-phone-body substitute-phone">{{ shop.cps_formatted_phone }}</span>
            </a>
          </div>

          <div class="header-email">
            <p class="header-mail-wrapper js-copy-mail">
              <i class="fa fa-envelope"></i>
              <a href="mailto:info@shopelectro.ru" class="header-mail">info@shopelectro.ru</a>
            </p>
            <p class="hidden-xs hidden-sm header-time">
              пн-чт с 10 до 18, пт до 17
            </p>
          </div>
        </div>

        <div class="hidden-xs hidden-sm col-sm-5 col-md-5 header-navigation-wrapper">
          <ul class="list-unstyled header-navigation">
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'delivery' %}">
                Доставка
              </a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'pay' %}">
                Оплата
              </a>
            </li>
            <li class="header-navigation-item">
              <a class="header-navigation-link" href="{% url 'pages:flat_page' 'navigation' 'contacts' %}">
                Контакты
              </a>
            </li>
          </ul>

          <!--noindex-->
            <span class="btn-feedback js-backcall-order" data-toggle="modal" data-target="#back-call-modal">
              <i class="fa fa-mobile-alt fa-mobile" aria-hidden="true"></i> Заказать звонок
            </span>
          <!--/noindex-->

          <a class="header-download-pricelist right js-download-price"
             href="{% static 'pricelist.xlsx' %}">
            <i class="fa fa-download" aria-hidden="true"></i> Скачать прайс
          </a>
        </div>
      </div>
    </div>

    {% if not request|is_mobile %}
      <div class="container">
        <div class="middle-header hidden-xs hidden-sm">
          <div class="middle-header-inner">
            <div class="row">
              <div class="col-md-9">
                <form class="search-form js-search-form" action="{% custom_url 'search' %}" method="get">
                  <div class="row">
                    <div class="col-md-11 header-search-area">
                      <input class="form-control js-search-input" type="text" name="term"
                             placeholder="Поиск по названию, артикулу, производителю" value="{{ term }}">
                      <div class="header-search-example">
                        например,
                        <span class="search-example-text" id="search-example-text">
                          Батарейка MINAMOTO 3R12, 4.5 В
                        </span>
                      </div>
                    </div>

                    <div class="col-md-1">
                      <button type="submit" class="btn btn-blue btn-search" id="search-submit"><i class=" fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="col-md-3 basket-parent js-cart-header">
                <!-- Cart loads lazily -->
              </div>
            </div>
          </div>
        </div>

        {# Cache for a day #}
        {% cache 86400 categories_menu %}
          <div class="nav-category-wrapper hidden-xs hidden-sm">
            <ul class="nav-category list-unstyled">
              {% for root, children in header_menu.as_dict.items %}
                <li class="nav-category-item js-menu-item">
                  <a class="nav-category-link" href="{{ root.url }}">{{ root.name }}</a>
                  {% if children %}
                    <ul class="list-white nav-menu-dropdown">
                      {% for child in children %}
                        <li>
                          <a href="{{ child.url }}" class="list-white-link">
                            {{ child.name }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endcache %}
      </div>
    {% endif %}
  </div>

  <div class="mobile-catalog hidden-md hidden-lg">
    <div class="container">
      <button class="btn btn-blue mobile-catalog-btn js-mobile-catalog-btn">
        Каталог товаров
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>

      <ul class="list-unstyled mobile-catalog-wrapper-list" style="display: none;">
        {% for root, children in header_menu.as_dict.items %}
          <li class="mobile-catalog-list-item js-mobile-menu-item">
            <a class="mobile-catalog-link" href="{{ root.url }}">
              {{ root.name }}
              <i class="fa fa-chevron-down mobile-catalog-link-icon js-mobile-link-arrow"
                 aria-hidden="true"></i>
            </a>
            {% if children %}
              <ul class="mobile-catalog-sub-list list-unstyled" style="display: none">
                {% for child in children %}
                  <li>
                    <a class="mobile-catalog-sub-link" href="{{ child.url }}">
                      {{ child.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
