{% if debug %}
  <script>
    var yaCounter = (function() {
      var goals = [];

      var reachGoal = function(goal) {
        goals.push(goal);
        console.log(goal);
      };

      return {
        reachGoal: reachGoal,
        goals: goals
      }
    }());
  </script>
{% else %}
  <script>
    (function(d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter = new Ya.Metrika({
            id: 20644114,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            ecommerce: 'dataLayer'
          });
        } catch (e) {
        }
      });

      var n = d.getElementsByTagName('script')[0],
        s = d.createElement('script'),
        f = function() {
          n.parentNode.insertBefore(s, n);
        };
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://mc.yandex.ru/metrika/watch.js';

      if (w.opera == '[object Opera]') {
        d.addEventListener('DOMContentLoaded', f, false);
      } else {
        f();
      }
    })(document, window, 'yandex_metrika_callbacks');
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/20644114" style="position:absolute; left:-9999px;"></div>
  </noscript>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-42239144-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
    (function() {
      if (typeof carrotquest === 'undefined') {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//cdn.carrotquest.io/api.min.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);

        carrotquest = {};
        window.carrotquestasync = [];
        carrotquest.settings = {};
        m = ['connect', 'track', 'identify', 'auth'];

        function Build(name, args) {
          return function() {
            window.carrotquestasync.push(name, arguments);
          }
        }

        for (var i = 0; i < m.length; i++) carrotquest[m[i]] = Build(m[i]);
      }
    })();
    carrotquest.connect('3504-586a045918d29ff2f2c4d0ea46a');
  </script>

  <script src="https://my.callbaska.ru/callback.js" async charset="utf-8"></script>

  <script id="huckster">
    (function(w, d, s, c) {
      var h = document.getElementById('huckster'), r = d.createElement('script');
      w.Huckster = {};
      w.Huckster.config = c || {};
      w.Huckster.config.server = s;
      r.setAttribute('src', '//' + Huckster.config.server + '/app/huckster.min.js');
      h.parentNode.insertBefore(r, h.nextSibling);
    })(window, document, 'files.hucksterbot.com', {companyId: 245});
  </script>

  <script>
    (function(c, a, p) {
      var s = document.createElement(a);
      s.src = p;
      s.type = "text/javascript";
      s.async = !0;
      s.readyState ? s.onreadystatechange = function() {
        if (s.readyState === "loaded" || s.readyState === "complete") {
          s.onreadystatechange = null;
          c();
        }
      } : s.onload = function() {
        c();
      };
      var n = document.getElementsByTagName(a)[0];
      n.parentNode.insertBefore(s, n);
    })(function() {
      k50Tracker.init({
        siteId: 46844208270298
      })
    }, "script", "https://k50-a.akamaihd.net/k50/k50tracker2.js");
  </script>
{% endif %}
