{% load staticfiles %}
{% load se_extras %}

<meta charset="UTF-8">
<title>{{ page.title }}</title>

<meta property="og:type" content="website">
<meta property="og:locale" content="ru_RU">
{% if debug %}
  <meta name="robots" content="noindex, nofollow">
{% else %}
  <meta name="robots" content="index, follow">
{% endif %}

<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ page.get_absolute_url }}">
<meta property="og:article:published_time" content="{{ page.date_published|date:'d.m.Y' }}">
<meta property="og:name" content="{{ page.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content|striptags }}{% endif %}">
<meta property="og:image" content="{% image page %}">

<meta property="og:site_name" content="ShopElectro">
<meta property="og:street_address" content="Prospect Elizarova 38 A, office 312">
<meta property="og:locality" content="Saint-Petersburg">
<meta property="og:region" content="Saint-Petersburg">
<meta property="og:postal_code" content="192148">
<meta property="og:country_name" content="Russia">
<meta property="og:email" content="info@shopelectro.ru">
<meta property="og:phone_number" content="+7(812)416-32-00">
<meta property="copyright" content="ShopElectro">
<meta property="author" content="ShopElectro">

<link rel="canonical" href="{{ page.get_absolute_url }}">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="android-touch-icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
