{% load catalog_extras %}
{% load pages_extras %}

<div class="mobile-cart js-mobile-cart {% if cart.total_quantity == 0 %}hidden{% endif %}">
  <span>Товаров:</span>
  <span class="mobile-cart-count">
    <span class="js-cart-size">
      {{ cart.total_quantity }}
    </span> шт.
  </span>
  <br>
  <span>На сумму:</span>
  <span class="mobile-cart-price">
    <span class="js-mobile-cart-price">
      {{ cart.total_price|humanize_price }}
    </span> руб.
  </span>

  <a class="btn btn-pink mobile-cart-link js-go-to-cart"
     href="{% custom_url 'order' %}">Корзина</a>
</div>
