{% load pages_extras %}
{% load images %}
{% load se_extras %}
{% load static %}
{% load thumbnail %}

{% if tile_products %}
  <div class="stuff-top">
    <p class="stuff-top-title">{{ tile_title }}</p>
    {% for product in tile_products %}
      <div class="stuff-top-item index-page product-card">
        <a href="{{ product.url }}" class="stuff-top-img js-browse-product">
          {% with image=product_images|get_item:product.id %}
            {% include 'index/product_thumbnail.html' with image=image dimensions='x174' only %}
          {% endwith %}
        </a>

        {% comment %}
          @todo #971:60m  Remove product tile cards code doubling.
           Both in html templates and styles.
        {% endcomment %}
        <div class="stuff-top-description product-card-text">
          <div class="stuff-top-wrap">
            <a class="stuff-top-name js-browse-product"
               href="{{ product.url }}">
              {{ product.name }}
            </a>
          </div>
          <div  class="stuff-top-price-new">
            <span>{{ product.price|humanize_price }}</span> руб
          </div>
          <div class="js-order order row">
            {% comment %}
              The input below should have type "number" by it's semantic.
              But Firefox worked bad with our custom increase/decrease buttons.
              On of the comments at #952 contains illustrating screen.
            {% endcomment %}
            <input class="col-xs-4 input-number category-prods-count js-product-count js-touchspin"
                   type="text" value="1">
            <button class="btn btn-blue btn-category-buy js-product-to-cart"
                    data-product-id="{{ product.id }}" data-product-price="{{ product.price }}"
                    data-product-name="{{ product.name }}">
              В корзину
            </button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
