{% load images %}
{% load se_extras %}
{% load static %}
{% load thumbnail %}

{% if tile_products %}
  <div itemscope itemtype="https://schema.org/Product" class="stuff-top">
    <p class="stuff-top-title text-center">{{ tile_title }}</p>
    {% for product, root_category in tile_products %}
      <p class="hidden" itemprop="description">
        {% with description=product.page.display_description %}
          {% if description %}
            {{ description }}
          {% else %}
            {{ product.name }}
          {% endif %}
        {% endwith %}
      </p>
      <div class="stuff-top-item">
        <a href="{{ product.url }}" class="stuff-top-img js-browse-product" itemprop="url">
          {% with image=product_images|get_item:product.id %}
            {% include 'index/product_thumbnail.html' with image=image dimensions='x174' only %}
          {% endwith %}
        </a>

        <div class="stuff-top-description">
          <div class="stuff-top-wrap">
            <a class="stuff-top-name js-browse-product"
               href="{{ product.url }}" itemprop="name">
              {{ product.name }}
            </a>
          </div>
          <div class="stuff-top-category">{{ root_category.name }}</div>
          <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="stuff-top-price-new">
            <link itemprop="availability" href="https://schema.org/InStock">
            <meta itemprop="description" content="{{ product.page.display_description }}">
            <meta itemprop="priceCurrency" content="RUB" />
            <span itemprop="price">{{ product.price|humanize_price }}</span> руб
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
