{# schema org breadcrumbs doc: https://schema.org/BreadcrumbList #}
{# macros usage examples: https://pypi.python.org/pypi/django-macros/0.3 #}
{% load macros %}

{% macro crumb name alias %}
  <span typeof="v:Breadcrumb" class="breadcrumbs-item"
        property="itemListElement" typeof="ListItem">
    {% if alias %}
      <a href="{{ alias }}" property="item" typeof="WebPage">
        <span property="name">{{ name }}</span>
      </a>
    {% else %}
      <span property="name">{{ name }}</span>
    {% endif %}
  </span>
{% endmacro %}

{% macro separator %}
  <span class="breadcrumbs-separator">»</span>
{% endmacro %}


{% for name, alias in breadcrumbs %}
  {% use_macro crumb name alias %}
{% endfor %}
