{% extends 'layout/inner_page.html' %}

{% load mptt_tags %}
{% load pages_extras %}

{% block content %}
  {% breadcrumbs_with_siblings page %}
  <h1>{{ page.display.h1 }}</h1>

  <div class="container container-fluid">
    <div class="row around-xs">
      {% for root in categories %}
        <div class="col-md">
          <h2>{{ root.name }}</h2>
          <ul>
            {% for category in root.children.active %}
              <li class="second-level-category"><a href="{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
