{% extends 'layout/inner_page.html' %}

{% load mptt_tags %}
{% load pages_extras %}

{% block content %}
  {% breadcrumbs_with_siblings page '' BASE_URL %}
  <h1>{{ page.display.h1 }}</h1>

  <div class="container container-fluid">
    <div class="row around-xs">
      {% for root_name, children in matrix.items %}
        <div class="category-block">
          <h2>{{ root_name }}</h2>
          <ul>
            {% for category in children %}
              <li class="second-level-category">
                <a href="{{ category.url }}">{{ category.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
