{% extends 'layout/base.html' %}
{% load staticfiles %}
{% load pages_extras %}
{% load se_extras %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/pages.min.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-xs-12">
      <p>{% breadcrumbs page %}</p>
      <h1 class="category-title">{{ page.h1 }}</h1>
    </div>

    <div class="col-xs-3 category-left">
      {% include 'catalog/category_children.html' %}
    </div>

    <div class="col-xs-9 category-right view-mode-{{ view_type }}" id="category-right">
      {% include "catalog/category_navigation.html" %}

      <p class="products-showed">
        Показано товаров <span class="font-bold js-products-showed-count">{{ products|length }}</span> из <span
          class="font-bold js-total-products">{{ total_products }}</span>.
      </p>

      <div class="product-card-wrapper clearfix" id="products-wrapper" data-sorting-index=""
           data-category-id="{{ category.id }}">
        {% include "catalog/category_products.html" %}
      </div>

      <div class="text-center">
        <button class="btn-blue btn btn-primary js-load-more" data-url="{{ category.get_absolute_url }}"
                id="btn-load-products" type="button">Загрузить ещё
        </button>
        <p class="products-showed-text">
          Показано товаров
          <span class="js-products-showed-count">{{ products|length }}</span> из
          <span class="js-total-products">{{ total_products }}</span>
        </p>
      </div>

      {% if page.seo_text %}
        <div class="category-text" id="category-text">{{ page.seo_text }}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static 'js/pages.min.js' %}"></script>
{% endblock %}
