{% extends "shopelectro/base.html" %}
{% load staticfiles %}
{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}
{% block uniqueURL %}{% url 'category' category.slug %}{% endblock %}
{% block uniqueImg %}{% url 'index' %}{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/pages.min.css" %}">
{% endblock %}

{% block canonical %}
  <link rel="canonical" href="{% url 'category' category.name %}"/>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-xs-12">
      <p>{% include 'seo/breadcrumbs.html' %}</p>
      <h1 class="category-title">{{ category.name }}</h1>
    </div>

    <div class="col-xs-3 category-left">
      {% include 'catalog/category_children.html' %}
    </div>

    <div class="col-xs-9 category-right view-mode-{{ view_type }}" id="category-right">
      {% if category.spam_text %}
        <div class="category-text" id="category-text">{{ category.spam_text }}</div>
      {% endif %}

      {% include "catalog/category_navigation.html" %}

      <p class="products-showed">
        Показано товаров <span class="font-bold js-products-showed-count">{{ products|length }}</span> из <span
          class="font-bold js-total-products">{{ total_products }}</span>.
      </p>

      <div class="product-card-wrapper clearfix" id="products-wrapper" data-sorting-index=""
           data-category-id="{{ category.id }}">
        {% include "catalog/category_products.html" %}
      </div>

      <div class="text-center">
        <button class="btn-blue btn btn-primary js-load-more" data-url="{% url 'category' category.slug %}"
                id="btn-load-products" type="button">Загрузить ещё</button>
        <p class="products-showed-text">
          Показанно товаров
          <span class="js-products-showed-count">{{ products|length }}</span> из
          <span class="js-total-products">{{ total_products }}</span>
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block jslinks %}
  {{ block.super }}
  <script src="{% static "js/pages.min.js" %}"></script>
{% endblock %}
