<div class="js-catalog-pagination">
  <span>
    {% if paginated_page.has_previous %}
      <a href="{% if paginated_page.previous_page_number == 1 %}{{ request.path }}{% else %}{{ request.path }}?page={{ paginated_page.previous_page_number }}{% endif %}">
        Предыдущая страница {{ paginated_page.previous_page_number }}
      </a>
    {% endif %}
    {% if paginated_page.has_next %}
      <a href="{{ request.path }}?page={{ paginated_page.next_page_number }}">
        Следующая страница {{ paginated_page.next_page_number }}
      </a>
    {% endif %}
  </span>
</div>
