{% load pages_extras %}
{% load static %}
{% load se_extras %}
{% load user_agents %}

{% for product in paginated.page.object_list %}
  <div class="product-card col-xs-6 col-md-4" data-product-id="{{ product.id }}"
       itemscope itemtype="https://schema.org/Product">
    <meta property="name" itemprop="name" content="{{ product.name }}">
    <div class="category-image-wrapper">
      <a class="category-product-link js-browse-product" href="{{ product.url }}"
         {% if not request|is_mobile %}target="_blank"{% endif %}>
        {% with image=product_images|get_item:product.id %}
          {% include 'catalog/category_product_image.html' with image=image product=product only%}
        {% endwith %}
      </a>
    </div>

    <div class="product-card-text" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
      <div class="product-card-articul">Артикул: {{ product.vendor_code }}</div>
      <div class="product-card-desc-wrapper">
        <a class="product-card-desc js-browse-product" href="{{ product.url }}"
           {% if not request|is_mobile %}target="_blank"{% endif %}>
          {{ product.name }}
        </a>
      </div>
      <div class="product-card-price">{{ product.price|humanize_price }} руб / шт</div>
      <meta property="description" itemprop="description" content="{{ product.page.display.description }}">
      <meta property="price" itemprop="price" content="{{ product.price }}">
      <meta property="priceCurrency" itemprop="priceCurrency" content="RUB">
      <div class="stock">
         {% if product.in_stock > 0 %}
           <i class="fa fa-circle in-stock"></i> В наличии
           <link itemprop="availability" href="https://schema.org/InStock">
         {% else %}
           <i class="fa fa-circle out-stock"></i>
           <span title="Ожидание товара составит до 6 рабочих дней">Под заказ</span>
           <link itemprop="availability" href="https://schema.org/PreOrder">
         {% endif %}
      </div>
      <div class="js-order order row">
        <input class="col-xs-4 input-number category-prods-count js-product-count js-touchspin"
               type="number" value="1">
        {% with brand=product_brands|get_item:product.id %}
          <button class="btn btn-blue btn-category-buy js-product-to-cart"
                  data-product-id="{{ product.id }}" data-product-price="{{ product.price }}"
                  data-product-name="{{ product.name }}"
                  data-product-brand="{% if brand %}{{ brand.name }}{% endif %}">
            В корзину
          </button>
        {% endwith %}
      </div>
    </div>
  </div>
{% endfor %}
<div class="hidden js-products-loaded">{{ products|length }}</div>
