{% load static %}
{% load se_extras %}
{% load user_agents %}

{% for product, image in product_image_pairs %}
  <div class="product-card col-xs-6 col-md-4" productId="{{ product.id }}"
       itemscope itemtype="http://schema.org/Product">
    <meta property="name" itemprop="name" content="{{ product.name }}">
    <div class="category-image-wrapper">
      <a class="category-product-link js-browse-product" href="{{ product.url }}"
         {% if not request|is_mobile %}target="_blank"{% endif %}>
        {% include 'catalog/category_product_image.html' with image=image product=product only%}
      </a>
    </div>

    <div class="product-card-text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <div class="product-card-articul">Артикул: {{ product.vendor_code }}</div>
      <div class="product-card-desc-wrapper">
        <a class="product-card-desc js-browse-product" href="{{ product.url }}"
           {% if not request|is_mobile %}target="_blank"{% endif %}>
          {{ product.name }}
        </a>
      </div>
      <div class="product-card-price">{{ product.price|humanize_price }} руб / шт</div>
      <meta property="description" itemprop="description" content="{{ product.page.description }}">
      <meta property="price" itemprop="price" content="{{ product.price }}">
      <meta property="priceCurrency" itemprop="priceCurrency" content="RUB">
      <div class="stock">
         {% if product.in_stock > 0 %}
           <i class="fa fa-circle in-stock"></i> В наличии
           <link itemprop="availability" href="http://schema.org/InStock">
         {% else %}
           <i class="fa fa-circle out-stock"></i>
           <span title="Ожидание товара составит до 6 рабочих дней">Под заказ</span>
           <link itemprop="availability" href="http://schema.org/PreOrder">
         {% endif %}
      </div>
      <div class="js-order order row">
        <input class="col-xs-4 input-number category-prods-count js-product-count js-touchspin"
               type="number" value="1">
        <button class="btn btn-blue btn-category-buy js-product-to-cart"
                productId="{{ product.id }}" productPrice="{{ product.price }}">
          Купить
        </button>
      </div>
    </div>
  </div>
{% endfor %}
<div class="hidden js-products-loaded">{{ product_image_pairs|length }}</div>
