{% load pages_extras %}
{% load se_extras %}

<div class="js-catalog-pagination">
  <span>
    {% with prev_pairs=paginated.prev_pairs next_pairs=paginated.next_pairs %}
      {% if prev_pairs %}
        {% with pair=prev_pairs|last %}
          <a href="{{ pair.1 }}">
            <<
          </a>
        {% endwith %}
      {% endif %}
      {% for number, url in prev_pairs %}
        <a href="{{ url }}">{{ number }}</a>
      {% endfor %}

      {{ paginated.page.number }}

      {% for number, url in next_pairs %}
        <a href="{{ url }}">{{ number }}</a>
      {% endfor %}

      {% if next_pairs %}
        {% with pair=next_pairs|first %}
          <a href="{{ pair.1 }}">
            >>
          </a>
        {% endwith %}
      {% endif %}
    {% endwith %}
  </span>
</div>
