{% load staticfiles %}
{% load humanize %}

{% for product in products %}
  <div class="product-card col-xs-4" productId="{{ product.id }}"
       itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{ product.name }}">
    <div class="img-wrp">
      <a class="js-browse-product" target="_blank" href="{% url "product" product.id %}">
        <img class="img-centered img-responsive" src="{% static 'images/logo.svg' %}" itemprop="image">
      </a>
    </div>
    <div class="text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <div class="articul">Артикул: {{ product.id }}</div>
      <div class="desc">
        <a class="product-card-desc js-browse-product" target="_blank" href="{% url "product" product.id %}">
          {{ product.name }}
        </a>
      </div>
      <div class="price">{{ product.price|floatformat:'0'|intcomma }} руб / шт</div>
      <meta itemprop="price" content="{{ product.price }}">
      <meta itemprop="priceCurrency" content="RUB">
      <div class="stock">
        {% if product.in_stock > 0 %}
          <i class="fa fa-circle in-stock"></i> В наличии
          <link itemprop="availability" href="http://schema.org/InStock">
        {% else %}
          <i class="fa fa-circle out-stock"></i>
          <span title="Ожидание товара составит до 6 рабочих дней">Под заказ</span>
          <link itemprop="availability" href="http://schema.org/PreOrder">
        {% endif %}
      </div>
      <div class="js-order order row">
        <input class="col-xs-4 category-prods-count js-product-count js-touchspin" type="number" value="1">
        <button class="btn form-btn js-product-to-cart" productId="{{ product.id }}" productPrice="{{ product.price }}">
          В корзину
        </button>
      </div>
    </div>
    <div itemprop="description" class="hidden">{{ product.description }}</div>
  </div>
{% endfor %}
<div class="hidden js-products-loaded">{{ products|length }}</div>
