<div class="pr-chars-delivery">
  <p class="pr-chars-delivery-text font-bold">Доставим:</p>
  <ul class="pr-delivery-list list-unstyled">
    <li class="pr-delivery-list-item">
      <span class="pr-delivery-link font-bold">по СПб и ЛО</span>
      <p>курьером, 300 руб</p>
      <p>PickPoint, 190 руб</p>
      <p>самовывоз</p>
    </li>

    <li class="pr-delivery-list-item">
      <span class="pr-delivery-link font-bold">по России</span>
      <p>PickPoint, от 250 руб</p>
      <p>DPD, от 400 руб</p>
      <p>Деловые линии, от 350 руб</p>
      <p>Почта России, от 170 руб</p>
      <p>другая служба</p>
    </li>
  </ul>
</div>
